{% load  static %}

<header id="page-topbar" class="border-0">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box border-0  mt-0">
                <a href="{% url 'Admin:Dashboard' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'images/logo-sm.svg' %}" alt="" height="28">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'images/logo-sm.svg' %}" alt="" height="48"> <!--<span class="logo-txt">Minia</span>-->
                    </span>
                </a>

                <a href="{% url 'Admin:Dashboard' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/logo-sm.svg' %}" alt="" height="24">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'images/logo-sm.svg' %}" alt="" height="24"> <span class="logo-txt">Minia</span>
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <!-- App Search-->
            <!--<form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i></button>
                </div>
            </form>-->
        </div>

        <div class="d-flex">

            <div class=" d-flex align-items-center me-2 me-md-4">
                <!-- <span class="badge bg-danger rounded-pill">5</span> -->
                <!-- <a href=""><img src="{% static 'images/social-icons/instagram.png' %}" alt="instagram" class="me-2 me-md-3" height="16"></a>
                <a href=""><img src="{% static 'images/social-icons/linkedin.png' %}" alt="linkedin" class="me-2 me-md-3"  height="16"></a>
                <a href=""><img src="{% static 'images/social-icons/twitter.png' %}" alt="twitter" class="me-2 me-md-3"  height="16"></a>
                <a href=""><img src="{% static 'images/social-icons/facebook.png' %}" alt="facebook" class="me-2 me-md-3"  height="16"></a>
                <a href=""><img src="{% static 'images/social-icons/yt.png' %}" alt="youtube" class="me-2 me-md-3"  height="16"></a> -->
                <div class=" d-inline-block  ">
                    <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-facebook"  >
                    <a href="https://www.facebook.com/TC-Limited-102728182309354/" target="_blank">
                            <img src="{% static 'images/social-icons/facebook.png' %}" alt="facebook" class=" badge-to-show" height="16"  >
                            <!-- <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11"> 5</span> -->
                    </a> 
                    
                    
                    
                    </button>
                    <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-twitter"  >
                    <a href="https://twitter.com/limited_tc" target="_blank">
                    
                            <img src="{% static 'images/social-icons/twitter.png' %}" alt="twitter" class=" badge-to-show" height="16"  >
                        </a>
                            <!-- <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11"> 5</span> -->
                        
                    
                    
                    
                    </button>


                    <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-insta"  >
                    
                           <a href="https://www.instagram.com/tc_limited/" target="_blank"> <img src="{% static 'images/social-icons/instagram.png' %}" alt="instagram" class=" badge-to-show" height="16"  ></a>
                            <!-- <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11">5</span> -->
                        
                    
                    
                    
                    </button>
                    <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-linkedin"  >
                    <a href="https://www.linkedin.com/company/tc-limited" target="_blank">
                            <img src="{% static 'images/social-icons/linkedin.png' %}" alt="linkedin" class="badge-to-show " height="16"  >
                        </a>
                            <!-- <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11"> 5</span> -->
                       
                    
                    
                    </button>
                    <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-linkedin"  >
                    <a href="https://www.linkedin.com/company/tc-limited" target="_blank">
                            <img src="{% static 'images/social-icons/yt.png' %}" alt="linkedin" class="badge-to-show " height="16"  >
                        </a>
                            <!-- <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11"> 5</span> -->
                       
                    
                    
                    </button>
                
                   
                    <!-- <button  type="button"  class="btn position-relative"  
                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-yt"  >
                    
                            <img src="{% static 'images/social-icons/yt.png' %}" alt="yt" class=" badge-to-show" height="16"  >
                            <span class="badge position-absolute translate-middle bg-success rounded-pill top-0 gilroysemibold-type fs-11"> 5</span>
                        
                    
                    
                    
                    </button> -->

               
                
                
            
                </div>
            </div>


            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item " id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!--bg-soft-light border-start border-end-->
                    <span class="d-none d-xl-inline-block me-2 fw-medium">Hi, {{request.session.UserName}}</span>
                    <img class="rounded-circle header-profile-user" src="{% static 'images/users/'%}{{request.session.UserName}}.png" onerror='this.src="{% static 'images/users/user.png' %}"'
                        alt="Header Avatar">
                
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Profile</a>
                    <!-- <a class="dropdown-item" href="auth-lock-screen.html"><i class="mdi mdi-lock font-size-16 align-middle me-1"></i> Lock Screen</a> -->
                    <div class="dropdown-divider"></div>
                    {%if request.session.role == "manager" %}
                    <select class="form-select border-1 " id="salesreps"
                    required style="width:auto;" >
                        <option value="0">Select</option>
                        <option value="20">Farah Hawilo</option>
                        <option value="30">Firas monzer</option>
                        <option value="31">Firas Hachache</option>
                        <option value="56">Noura Mikati</option>
                        <option value="57">Areej</option>
                        <option value="58">Michella</option>
                        <option value="59">Czarina Villaflores</option>
                        <option value="60">Online</option>
                    </select>
                    <div class="dropdown-divider"></div>
                    {%endif%}
                    <a class="dropdown-item" href="{% url 'Admin:Logout' %}"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                </div>
            </div>
            <!-- <a href="{% url 'Admin:Livechat' %}">
            <div class="dropdown d-inline-block">
               
                    <button class="btn header-item noti-icon position-relative"  >
                    
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.79159 17.4167H7.33325C3.66659 17.4167 1.83325 16.5 1.83325 11.9167V7.33337C1.83325 3.66671 3.66659 1.83337 7.33325 1.83337H14.6666C18.3333 1.83337 20.1666 3.66671 20.1666 7.33337V11.9167C20.1666 15.5834 18.3333 17.4167 14.6666 17.4167H14.2083C13.9241 17.4167 13.6491 17.5542 13.4749 17.7834L12.0999 19.6167C11.4949 20.4234 10.5049 20.4234 9.89992 19.6167L8.52492 17.7834C8.37825 17.5817 8.03909 17.4167 7.79159 17.4167Z" stroke="#C8CFD8" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.41675 7.33337H15.5834" stroke="#C8CFD8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.41675 11.9166H11.9167" stroke="#C8CFD8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    
                    
                        
                    </button>
            
            </div>
        </a> -->
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon position-relative" id="page-header-notifications-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="bell" class="icon-lg"></i>
                    <span class="badge bg-danger rounded-pill">{{request.session.notification}}</span>
                </button>
                {% if request.session.notification%}
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <!-- <a href="#!" class="small text-reset text-decoration-underline"> Unread (3)</a> -->
                            </div>
                        </div>
                    </div>
                    {%for notify in request.session.notification_data%}
                    <div data-simplebar style="max-height: 230px;">
                        <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/'%}{{request.session.UserName}}.png" onerror='this.src="{% static 'images/users/user.png' %}"' class="rounded-circle avatar-sm" alt="user-pic">
                                </div>

                                <div class="flex-grow-1">
                                    <h6 class="mb-1">{{notify.0}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">{{notify.1}}</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>{{notify.2}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    

                        <!-- <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/avatar-6.jpg' %}" class="rounded-circle avatar-sm" alt="user-pic">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Salena Layfield</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                                    </div>
                                </div>
                            </div>
                        </a> -->
                    </div>
                    {%endfor%}
                    
                    <!-- <div class="p-2 border-top d-grid">
                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span>View More..</span> 
                        </a>
                    </div> -->
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</header>