<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="manage.py" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="StaticFile" />
            <remove name="python" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\python.exe|C:\Users\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Read" />
            
</handlers>
       
        
    </system.webServer>
<appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\CRF" />
<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
<add key="DJANGO_SETTINGS_MODULE" value="CRF.settings" />
</appSettings>
</configuration>
