<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
      <link rel="stylesheet" href="{% static 'libs/flatpickr/plugins/monthSelect/style.css' %}"></link>
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
        <div class="main-content">

            <div class="page-content" id="sales">
                <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->
                    <div class="row">
    
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">Live Chat Report</h4>
                            </div>
                           
                       
                            
                            <div class=" mb-4">
                                <p class="gilroymedium-type fs-15 color-color1 mb-0">This page allows you to view the live chat report per salesrep.</p>
                            </div>
    
                     
                            
                        </div>
                        <div class="col-xl-8">
                                <div class="row align-items-end mb-4">
                                    <div class="col-sm-2">
                                        <div class="mb-2">
                                            <label class="form-label " for="fromdate-sr">From Date</label>
                                            <input type="text" id="Fromdate" class="py-1">
                                            <input type="hidden" name="from" id="fromprint">
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-2">

                                        <div class="mb-2">
                                            <label class="form-label " for="todate-sr">To Date</label>

                                            <input type="text" id="Todate" class="py-1">
                                            <input type="hidden" name="from" id="toprint">
                                        </div>

                                    </div>
                                 
    
                                        <div class="col-sm-2">
                                            <div class="mb-2">
                                                <label class="form-label " for="salesrep">Sales Rep</label>
                                                <select   class="py-1 form-select" id="salesrepId"> 
                                                    <option value="0">Select</option>
                                                    
                                                    {%for rep in reps%}
                                                    <option value="{{rep.0}}">{{rep.1}}</option>
                                                    {%endfor%}
                                                    
                                                </select>
    
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-2">
                                                <label class="form-label " for="salesrep">Attended By</label>
                                                <select   class="py-1 form-select" id="attended"> 
                                                    <option value="0">Select</option>
                                                    
                                                    {%for user in users%}
                                                    <option value="{{user.0}}">{{user.1}}</option>
                                                    {%endfor%}
                                                   
                                                </select>
    
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-2 ">
                                            <button class="btn btn-info btn-md mb-2 py-1 noPrint" type="button" id="load-btn-sr" onclick="loadAllReport()">Load</button>
                                        </div>
                                        
    
                                    <p >Now viewing live chat logs from May 03 2022 till today.</p>
    
    
    
                                </div> 
                        </div>
                       <!-- end col -->
                    </div>
                  
    
    
                    
                    <!--Analytics overview-->
                    <div class="row">
    
                        <div class="col-12">
                            <div class="card">
                               
                                <div class="card-body ">
                                    
                                        
                                           
                                    </div>
                                        
                                    
                                    <div class=" px-1 table-responsive" >
                                        <table class="table dt-responsive  nowrap  w-100 change" id="datatable" >
                                            <thead>
                                                <tr  class=" ">
                                                    <td></td>
                                                    <td></td>
                                                    <td >Ticket</td>
                                                    <td >LogTime</td>
                                                    <td >ThreadId</td>
                                                    <td >Name</td>
                                                    <td >Sales Rep</td>
                                                    <td >Attended By</td>
                                                </tr>
                                            </thead>
        
        
                                            <tbody>
                                          
                                            {%for chat in chats %}
                                            <tr onclick='checkticket("{{data.1}}","{{data.2}}","{{data.4}}")' style="cursor: pointer;">
                                                <td class="ps-0" style="cursor: pointer;"> <span class="color-green text-decoration-underline" onclick="viewTicket({{chat.0}})" >View Ticket</span> </td></td>
                                                <td class="ps-0" style="cursor: pointer;"><span class="color-green text-decoration-underline" onclick="viewChat({{chat.0}})" >View Chat</span></td>
                                                <td >{{chat.0}}</td>
                                                <td>{{chat.1}}</td>
                                                <td>{{chat.2}}</td>
                                                
                                                <!-- <td>{{data.1}}</td> -->
                                                <td>{{chat.3}}</td>
                                                <td>{{chat.4}}</td>
                                                <td>{{chat.5}}</td>
                                                
                                            </tr>
                                            
                                            {%endfor%}
                                           
                                            </tbody>
                                            <tfoot>
                                                
                                            </tfoot>
                                        </table>
                                    </div>
                                    
    
                                </div>
                            </div>
                        </div> <!-- end col -->
    
    
    
                    </div>
                    <!-- end row-->
    
                    </div>
                    <!-- container -->
                </div>
                <!-- End Page-content -->
    
                
            </div>
            <!-- end main content-->
    
        </div>
        <!-- END layout-wrapper -->
    
        
        {% include "common/right-sidebar.html" %}
    
        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>
        <div class="modal fade  bs-example-modal-chatlogs" tabindex="-1" role="dialog" aria-hidden="true" id="chatlog">
            <div class="modal-dialog modal-dialog-centered  ">
                <div class="modal-content ">
                    <div class="modal-body ">
                        <div class="mx-2 my-1 border rounded-3">
                            <div class="modal-header border-0 ">
                                <h5 class="modal-title fs-21 ">Live Chat Logs  </h5>
                                <a href="" data-bs-dismiss="modal" aria-label="Close">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>

                                </a>
                            </div>
                            <div id="chat-block" style="max-height: 372px;">
                                <div class="chat-logs mx-3"   id="chatdiv">   
                            </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function viewChat(ticket){
                const simpleBarChatlog = new SimpleBar(document.getElementById('chat-block'));
        // simpleBarChatlog.recalculate();

       
            var chats=""
            $("#chatdiv").empty();
            $.ajax({
                    type : "GET", 
                    url: "{% url 'Admin:LiveLogs' %}",
                    dataType: 'json',
                    data: {                   
                        'ticket':ticket,                   
                    },
                    
                    success: function(data){
                        var logs=data.logs
                        
                        for(i=0;i<logs.length;i++){
                            
                            chats +="<div class='border rounded-3 px-3 py-3 mb-3'><div class='d-flex justify-content-between mb-2 align-items-center'>"+
                                        "<div class='d-flex my-0  align-items-center flex-shrink-0'><div class='activity-icon avatar-sm ms-2 me-3'>"+
                                        "<span class='avatar-title   rounded-circle'><img class='rounded-circle avatar-md' src='../static/images/users/"+logs[i][3]+".png' "+
                                        "onerror=this.src='../static/images/users/user.png'></span></div><p class='fs-16 gilorysemibold-type color-color m-0'>"+logs[i][3]+"</p>"+
                                        "</div><span class='fs-14 color-color1'>"+logs[i][0]+" - "+logs[i][1]+"</span></div><div ><p class='mb-0  fs-13  color-color1 me-2'>"+logs[i][2] +"</p></div></div>";

                        }
                        if(logs.length==0){
                            $("#chatdiv").append("No Logs")    
                        }
                        else{
                            $("#chatdiv").append(chats)
                        }
                        
                        $("#chatlog").modal('show')
                        console.log("Logsssssssssssssssss"+data.logs)

                    }
                })

              

        

    }
            function viewTicket(ticket){
                var url="{% url 'Admin:LeadProcessing'%}"
                window.location.href=url+"?&ticket="+ticket
            }
            function loadAllReport(){
                
        var attend=$("#attended").val()
        var salesrep=$("#salesrepId").val()
        var fromdate=$("#Fromdate").val()
        var todate=$("#Todate").val()
        var row=""
        $('#datatable').dataTable().fnClearTable();
        $('#datatable').dataTable().fnDestroy();
        $("#datatable").DataTable({
                
                "language": {
                            'loadingRecords': "<span class='fa-stack fa-lg'>\n\
                            <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                            </span>&emsp;Loading Details ...",
                                },
                
                "paging":true,   
                           
                "ajax":{
                   url: "{% url  'Admin:AllLiveChatReport' %}",
                   data:{
                        "from":fromdate,
                        "to":todate,
                        "repId":salesrep,
                        "attend":attend
                    },
                  dataSrc:function(data){
                    var items = [];
                    for ( var i=0, ien=data.length ; i<ien ; i++ ) {

                        items[i] =["<span style='cursor:pointer' class='color-green text-decoration-underline' onclick='viewTicket("+data[i][0]+")'>View Ticket</span>","<span style='cursor:pointer' class='color-green text-decoration-underline' onclick='viewChat("+data[i][0]+")' >View Chat</span>",data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5]]; 

                        
                        }

                        return items;
                  }
                },
                responsive: true,
                    paging: true,
                    lengthChange: false ,
                    ordering: true,
                    info:true,
                    fixedHeader: true,
                    
                })

            }
          
        </script>
        <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
      
    
        <!-- Datatable init js -->
        <script src="{%static 'libs/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'js/pages/livechat.init.js' %}"></script> 
        <script src="{% static 'js/app.js' %}"></script>
    
        </body>
    
        </html>