<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/@fullcalendar/core/main.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/@fullcalendar/daygrid/main.min.css'%}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/@fullcalendar/bootstrap/main.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/@fullcalendar/timegrid/main.min.css'%}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
     <div class="main-content">
        <div class="page-content" id="sales">
            <div class="container-fluid">               
                    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                               
                            <div class="card-body ">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </div>
    {% include "common/right-sidebar.html" %}
    <div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="alertpopup">
        <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class=" fs-16">
                        <div id="userMsg"></div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                                        
                        <!-- <div class="modal-body" >
            
            
                                <div data-simplebar style="max-height: 230px;">
                
                                  
                                    
                                </div>
                            </div> -->
               
            </div>
         </div>
        </div>
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <script>
        var calendarEl = document.getElementById('calendar');
        var defaultEvents=[]
        var selectedEvent = null;
        var addEvent=$("#alertpopup");
        
        $(document).ready(function() {
            $.ajax({
            
            type : "GET", 
           
            url: "{% url 'Admin:Events' %}",
            async:false,
            success: function(data){
               
                var allEvents=data.events;
                for(var i=0;i<allEvents.length;i++){
                  var timeformat=allEvents[i][2]+"T"+allEvents[i][3]
                  console.log("Time format===="+timeformat)
                  const  eventobj={
                    title: allEvents[i][0],
                   
                    start: new Date(timeformat), 
                    extendedProps: {
                        description:allEvents[i][1],
                    }                   
                    
                }
                console.log("Event Object======================="+eventobj)
                defaultEvents.push(eventobj)
                
                }
                console.log("Default events======="+defaultEvents)
            }
        });
        console.log("Default events======="+defaultEvents)
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                editable: true,
                droppable: true,
                selectable: true,
                defaultView: 'dayGridMonth',
                themeSystem: 'bootstrap',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                eventClick: function(info) {
                    $("#userMsg").empty()
                    selectedEvent = info.event;
                    if(selectedEvent.extendedProps['description']!=""){
                        $("#userMsg").append(selectedEvent.extendedProps['description']);
                        console.log("Event description====="+selectedEvent.extendedProps['description'])
                        addEvent.modal('show');
                    }
                   
                },
                dateClick: function(info) {
                    addNewEvent(info);
                },
                events : defaultEvents
            });
            calendar.render();
        });
    </script>
    <script src="{% static 'libs/@fullcalendar/core/main.min.js'%}"></script>
    <script src="{% static 'libs/@fullcalendar/bootstrap/main.min.js' %}"></script>
    <script src="{% static 'libs/@fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'libs/@fullcalendar/timegrid/main.min.js'%}"></script>
    <script src="{% static 'libs/@fullcalendar/interaction/main.min.js'%}"></script>
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
