<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
    

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">DORMANT TICKETS</h4>
                                <div class="d-flex flex-no-wrap justify-content-between align-items-start  mb-4">
                                    <p class="gilroymedium-type fs-15 color-color1 mb-0">
                                        This page allows you to view the dormant Sales Inquiries assigned to you and the inquiries that are not assigned.
                                    </p>
                                    <!-- <button type="button" class="btn  btn-lg   btn-success  px-3  gilory-semibold-type flex-grow-0" onclick="loadAll()">Load All</button> -->
                                </div>
                                <div class=" px-1 table-responsive">
                                    <table id="datatableleads" class="table dt-responsive  nowrap w-100 ">
                                        <thead>
                                            <tr  class=" ">
                                                <th data-id="datepicker-range">Date</th>
                                                <th >Ticket No</th>
                                                <th  >Name</th>
                                                <th  >Phone</th>
                                                <th  >Email</th>
                                                <th  >Source</th>
                                                <!-- <th >IP</th> -->
                                            </tr>
                                        </thead>
    
    
                                        <tbody>
                                        <!-- <tr>
                                            <th  data-type="text">Date</th>
                                            <th  data-type="text">Id</th>
                                            <th  data-type="text">Email</th>
                                            <th data-type="text" >Name</th>
                                            <th  data-type="text">Phone/th>
                                            <th  data-type="text" >Source</th>
                                            <th  data-type="text" >Country</th>
                                        </tr>    -->
                                        {%for data in dormant_tickets %}
                                        <tr ondblclick='checkticket("{{data.2}}","{{data.4}}")' style="cursor: pointer;">
                                            <td >{{data.0}}</td>
                                            <td>{{data.1}}</td>
                                            <td>{{data.2}}</td>
                                            <td>{{data.3}}</td>
                                            <td>{{data.4}}</td>
                                            <td>{{data.6}}</td>
                                            <!-- <td>{{data.11}}</td> -->
                                        </tr>
                                        
                                        {%endfor%}
                                       
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
  
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
    <script>
        function checkticket(lead_email,lead_phone){
            console.log("Double clicked")
            
            console.log("email----lead"+lead_email)
            
            console.log("email----lead"+lead_phone)
        }
        function loadAll(){

                $('#datatableleads').dataTable().fnClearTable();
                $('#datatableleads').dataTable().fnDestroy();
                $("#datatableleads").DataTable({
                    // 'processing' : true,
                    
                    'paging':true,               
                    'ajax':{
                    "url": "{% url 'Admin:PendingTktsAll' %}",
                    "dataSrc":function(json_data){
                        
                
                        var items = [];
                        for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                            items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][6],json_data[i][5]]; 
                                
                            }
                            console.log(items);
                            return items;
                    }
                    },
                    responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                    
                
            });
        }

    </script>
    
    <!-- Required datatable js -->
    <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables-filtercolumn-leads.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>