<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    {% load  static %}
    {% include "common/link.html" %}
    <style>
        table td .dropdown-menu.show{
                right: 0px;
        left: auto;
        transform: none;
        display: flex;
        }
    </style>
   
    {% include "common/scripts.html" %}
    
</head>
<body data-layout-mode="dark">
    <audio id="Player" autoplay>
        <source src="{% static 'audio/welcome.mp3' %}"/>
   </audio>
    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
        {% include "common/header.html" %}
        
    
        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid">
                <!--container-fluid px-md-5 me-md5-->

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 fs-23 almarenamonolight-type">Analytics Overview</h4><!--font-size-18-->

                            <!--<div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Analytics Overview</li>
                                </ol>
                            </div>-->

                        </div>
                    </div>
                </div>
                <!-- end page title -->
            
        

                <!--row0-->
                <div class="row">

                    <div class="col-xxl-6  col-md-6">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">New Clients</h5>

                                </div>
                                <div class="row align-items-center">

                                    <div class="col-xxl-6 col-xl-6  col-md-12 mb-4 mb-xl-0 pe-xxl-5">

                                        <div class="d-flex mb-2">
                                            <svg width="21" height="21" class="me-2"  viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM15.9689 10.8434C15.9689 11.2705 15.6147 11.6247 15.1877 11.6247C14.7606 11.6247 14.4064 11.2705 14.4064 10.8434V7.69759L6.36475 15.7393C6.2085 15.8955 6.01058 15.9684 5.81266 15.9684C5.61475 15.9684 5.41683 15.8955 5.26058 15.7393C4.9585 15.4372 4.9585 14.9372 5.26058 14.6351L13.3022 6.59342H10.1564C9.72933 6.59342 9.37516 6.23926 9.37516 5.81217C9.37516 5.38509 9.72933 5.03092 10.1564 5.03092H15.1877C15.6147 5.03092 15.9689 5.38509 15.9689 5.81217V10.8434Z" fill="#00A651"/>
                                            </svg>
                                             <h5 class=" gilory-medium-type fs-18">Funded</h5>

                                        </div>

                                        <div class="d-flex w-100 justify-content-between">
                                            <a href="{% url 'Admin:NewAccounts' %}?&change=fundToday"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center mb-lg-2">Today <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if new_fund_today < 9 %} 0{{new_fund_today}}{%else%}{{new_fund_today}}{%endif%}</span></p></a>
                                            <a href="{% url 'Admin:NewAccounts' %}?&change=fundWeekly"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if new_fund_week < 9 %} 0{{new_fund_week}}{%else%}{{new_fund_week}}{%endif%}</span></p></a>
                                            

                                        </div>
                                        
                                            
                                        



                                    </div>
                                    <div class="col-xxl-6 col-xl-6  col-md-12 ps-xxl-5">

                                        <div class="d-flex mb-2">
                                            <svg width="21" height="21"  class="me-2" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM16.2606 5.84343L8.21891 13.8851H11.3647C11.7918 13.8851 12.146 14.2393 12.146 14.6663C12.146 15.0934 11.7918 15.4476 11.3647 15.4476H6.3335C5.90641 15.4476 5.55225 15.0934 5.55225 14.6663V9.63509C5.55225 9.20801 5.90641 8.85384 6.3335 8.85384C6.76058 8.85384 7.11475 9.20801 7.11475 9.63509V12.7809L15.1564 4.73926C15.3127 4.58301 15.5106 4.51009 15.7085 4.51009C15.9064 4.51009 16.1043 4.58301 16.2606 4.73926C16.5627 5.04134 16.5627 5.54134 16.2606 5.84343Z" fill="#FF0001"/>
                                                </svg>
                                                
                                                <h5 class=" gilory-medium-type fs-18">Non Funded</h5>

                                        </div>

                                        <div class="d-flex w-100 justify-content-between">
                                            <!-- <a href="{% url 'Admin:AccountsFilter' %}?&change=NonFunded"> <p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center ">Today <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if nonfunded_today < 9 %} 0{{nonfunded_today}}{%else%}{{nonfunded_today}}{%endif%}</span></p></a> -->
                                            <a href="{% url 'Admin:WeeklyFilter'%}?&change=NonFunded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if new_nonfund_week < 9 %} 0{{new_nonfund_week}}{%else%}{{new_nonfund_week}}{%endif%}</span></p></a>
                                            

                                        </div>
                                    


                                    </div>
                                
                                



                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->



                    </div>
                    <div class="col-xxl-6  col-md-6">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Existing Clients</h5>

                                </div>
                                <div class="row align-items-center">

                                    <div class="col-xxl-6 col-xl-6  col-md-12 mb-4 mb-xl-0 pe-xxl-5">

                                        <div class="d-flex mb-2">
                                            <svg width="21" height="21" class="me-2"  viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM15.9689 10.8434C15.9689 11.2705 15.6147 11.6247 15.1877 11.6247C14.7606 11.6247 14.4064 11.2705 14.4064 10.8434V7.69759L6.36475 15.7393C6.2085 15.8955 6.01058 15.9684 5.81266 15.9684C5.61475 15.9684 5.41683 15.8955 5.26058 15.7393C4.9585 15.4372 4.9585 14.9372 5.26058 14.6351L13.3022 6.59342H10.1564C9.72933 6.59342 9.37516 6.23926 9.37516 5.81217C9.37516 5.38509 9.72933 5.03092 10.1564 5.03092H15.1877C15.6147 5.03092 15.9689 5.38509 15.9689 5.81217V10.8434Z" fill="#00A651"/>
                                            </svg>
                                             <h5 class=" gilory-medium-type fs-18">Funded</h5>

                                        </div>

                                        <div class="d-flex w-100 justify-content-between">
                                            <a href="{% url 'Admin:ExtAccounts' %}?&change=fundToday"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center mb-lg-2">Today <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if ext_fund_today < 9 %} 0{{ext_fund_today}}{%else%}{{ext_fund_today}}{%endif%}</span></p></a>
                                            <a href="{% url 'Admin:ExtAccounts' %}?&change=fundWeekly"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if ext_fund_week < 9 %} 0{{ext_fund_week}}{%else%}{{ext_fund_week}}{%endif%}</span></p></a>
                                            

                                        </div>
                                        
                                            
                                        



                                    </div>
                                    <div class="col-xxl-6 col-xl-6  col-md-12 ps-xxl-5">

                                        <div class="d-flex mb-2">
                                            <svg width="21" height="21"  class="me-2" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM16.2606 5.84343L8.21891 13.8851H11.3647C11.7918 13.8851 12.146 14.2393 12.146 14.6663C12.146 15.0934 11.7918 15.4476 11.3647 15.4476H6.3335C5.90641 15.4476 5.55225 15.0934 5.55225 14.6663V9.63509C5.55225 9.20801 5.90641 8.85384 6.3335 8.85384C6.76058 8.85384 7.11475 9.20801 7.11475 9.63509V12.7809L15.1564 4.73926C15.3127 4.58301 15.5106 4.51009 15.7085 4.51009C15.9064 4.51009 16.1043 4.58301 16.2606 4.73926C16.5627 5.04134 16.5627 5.54134 16.2606 5.84343Z" fill="#FF0001"/>
                                                </svg>
                                                
                                                <h5 class=" gilory-medium-type fs-18">Non Funded</h5>

                                        </div>

                                        <div class="d-flex w-100 justify-content-between">
                                            <a href="{% url 'Admin:ExtAccounts' %}?&change=nonfundTotal"> <p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center ">Total <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if total_nonfun < 9 %} 0{{total_nonfun}}{%else%}{{total_nonfun}}{%endif%}</span></p></a>
                                            <!-- <a href="{% url 'Admin:WeeklyFilter' %}?&change=NonFunded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if nonfunded_week < 9 %} 0{{nonfunded_week}}{%else%}{{nonfunded_week}}{%endif%}</span></p></a> -->
                                            

                                        </div>
                                    


                                    </div>
                                
                                



                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->



                    </div>
                    

                    <!-- end row-->
                
                </div>
                <div class="row">
                    <div class="col-xxl-4 col-md-4">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Pending Accounts</h5>

                                </div>
                                <div class="row align-items-center">

                                    <div class="col-xl-6  mb-2  mb-xl-0 flex-shrink-0 ">
                                        <a href="{% url 'Admin:AccountsFilter' %}?&status=Pending&change=TempApproved">
                                        <div class="border-0 rounded-3  p-2 font-size-20  text-center " style="background-color:rgba(28, 29, 52, 1) ;">
                                            
                                                <h1 class="m-0 gilory-medium-type fs-25 mb-2 m-0">{{approved}}</h1>
                                                <p class="m-0 color-color1 fs-15">Approved Temporarily</p>
                                        </div>
                                    </a>                           
                                        
                                            
                                        



                                    </div>
                                    <div class="col-xl-6  flex-shrink-0 ">
                                        <a href="{% url 'Admin:AccountsFilter' %}?&status=Pending&change=WaitingApproval">
                                        <div class="border-0 rounded-3  p-2 font-size-20  text-center " style="background-color:rgba(28, 29, 52, 1) ;">
                                                <h1 class="m-0 gilory-medium-type fs-25 mb-2 m-0">{{waiting}}</h1>
                                                <p class="m-0 color-color1 fs-15">Waiting for approval</p>
                                        </div>
                                         </a>
                                
                                        
                                            
                                        



                                    </div>
                                
                                
                                



                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->



                    </div>
                    <div class="col-xxl-4 col-md-4">
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">

                            <div class="col-xxl-12 ">
                                <!--Live chats this week-->
                                <div class="card card-h-100">


                                    <div class="card-body ">


                                        <div class="d-flex flex-no-wrap align-items-center ">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-21">Webinars this
                                                week
                                            </h5>
                                            <div class="ms-auto">
                                                <div class="dropdown d-inline-block">
                                                    <a class="  position-relative " id="live-chats-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                        <span class="badge bg-info rounded-pill rounded-circle p-2 fs-11">{{webinars}}</span>
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                    <!-- end card body -->
                                </div>

                            </div>
                            <div class="col-xxl-12">
                                <!--Live chats this week-->
                                <div class="card card-h-100">


                                    <div class="card-body ">


                                        <div class="d-flex flex-no-wrap align-items-center ">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-21">Live chats this
                                                week
                                            </h5>
                                            <div class="ms-auto">
                                                <div class="dropdown d-inline-block">
                                                    <a class="  position-relative " id="live-chats-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                        <span class="badge bg-success rounded-pill rounded-circle p-2 fs-11">{{livechat}}</span>
                                                    </a>
                                                
                                                </div>
                                            </div>
                                        
                                        </div>




                                    </div>
                                    <!-- end card body -->
                                </div>

                            </div>
                            </div>
                            </div>
                    </div>
                     <!--Today’s Meetings-->
                     <div class="col-xxl-4  col-md-4">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Non Funded Tickets</h5>
                                    
                                    <div class="ms-auto">
                                        <div class="dropdown align-self-start">
                                            <a class='dropdown-toggle' id="live-chats-dropdown"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">

                                                
                                            </a>
                                      
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar="" style="max-height: 350px;">


                                    <!--Meetings-->
                                    
                                    {%for due in dues%}
                                    <div class=" mb-3 px-3 py-3 card-inside ">


                                        <div>
                                            <div class="d-flex justify-content-between mb-1 gilory-medium-type">

                                                <span
                                                    class="fs-14 d-block">Ticket
                                                    : {{due.ticket}}</span>
                                            <!--PopUp Actions-->
                                            <div class="dropdown align-self-start">
                                                <a class="dropdown-toggle" href="#" id={{due.id}} data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false" class="position-relative">
                                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M12.8333 4.99215C12.8333 3.98381 12.0083 3.15881 10.9999 3.15881C9.99159 3.15881 9.16659 3.98381 9.16659 4.99215C9.16659 6.00048 9.99159 6.82548 10.9999 6.82548C12.0083 6.82548 12.8333 6.00048 12.8333 4.99215Z"
                                                            stroke="#73759D" stroke-width="1.5" />
                                                        <path
                                                            d="M12.8333 17.8255C12.8333 16.8172 12.0083 15.9922 10.9999 15.9922C9.99159 15.9922 9.16659 16.8172 9.16659 17.8255C9.16659 18.8339 9.99159 19.6589 10.9999 19.6589C12.0083 19.6589 12.8333 18.8339 12.8333 17.8255Z"
                                                            stroke="#73759D" stroke-width="1.5" />
                                                        <path
                                                            d="M12.8333 11.409C12.8333 10.4007 12.0083 9.57568 10.9999 9.57568C9.99159 9.57568 9.16659 10.4007 9.16659 11.409C9.16659 12.4173 9.99159 13.2423 10.9999 13.2424C12.0083 13.2424 12.8333 12.4174 12.8333 11.409Z"
                                                            stroke="#73759D" stroke-width="1.5" />
                                                    </svg>


                                                </a>
                                                <div class="dropdown-menu" 
                                                
                                                style="background-color: var(--bs-card-bg);">
                                                <div class="dropdown-item" >
                                                    <button type="button"
                                                        class="btn btn-md btn-bg-soft-color1 fs-14 gilory-semibold-type bg-soft-purple text-white " onclick=managernotify({{due.ticket}})>Assign To Manager</button>
                                                    <button type="button"
                                                        class="btn btn-md btn-bg-soft-color1   fs-14 gilory-semibold-type bg-soft-purple text-white" onclick="repnotify({{due.ticket}})">Send Reminder</button>
                                                </div>



                                            </div>
                                            </div>
                                            </div>

                                            <h5 class="mb-0 fs-15  mb-2 gilory-semibold-type">Due Date : <b style="color: red;">{{due.duedate|date:"d-m-Y"}}</b></h5>
                                            <h5 class="mb-0 fs-15  mb-2 gilory-semibold-type">Reason : <b style="color: yellow;">{{due.reason}}</b></h5>
                                            <div
                                                class="d-flex justify-content-between align-items-center  gilroymedium-type flex-wrap flex-xxl-nowrap">
<!-- 
                                                <p class="mb-0  flex-grow-1 color-color1"><svg width="20"
                                                        height="21" viewBox="0 0 20 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M9.9999 11.7532C11.4358 11.7532 12.5999 10.5495 12.5999 9.0646C12.5999 7.57975 11.4358 6.37604 9.9999 6.37604C8.56396 6.37604 7.3999 7.57975 7.3999 9.0646C7.3999 10.5495 8.56396 11.7532 9.9999 11.7532Z"
                                                            stroke="#73759D" stroke-width="1.5" />
                                                        <path
                                                            d="M3.01675 7.49631C4.65842 0.0338179 15.3501 0.0424353 16.9834 7.50493C17.9418 11.8825 15.3084 15.5879 13.0001 17.88C11.3251 19.5518 8.67508 19.5518 6.99175 17.88C4.69175 15.5879 2.05842 11.8738 3.01675 7.49631Z"
                                                            stroke="#73759D" stroke-width="1.5" />
                                                    </svg>
                                                    <span class="   fs-14 ">{{meeting.4}}</span>
                                                </p> -->
                                                

                                            </div>

                                        </div>



                                    </div>
                                    {%endfor%}
                                

                                </div>


                            </div>











                        </div><!-- end card body -->
                    </div><!-- end card -->

                </div>

                <!--row1-->
                <div class="row">
                    <!--Sales Calls-->
                    <div class=" col-xxl-3 col-md-6 order-0  order-xxl-0">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Sales Calls</h5>
                                    <div class="ms-auto">
                                        <div>
                                            <a  class=" mb-0 my-n1  gilorymedium-type fs-15"
                                                style="color: var(--color1);">Today’s Calls</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-xl-12" data-simplebar="" style="max-height:220px ;">                                     
                                        {% for call in calls %}
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-3">
                                                <img class="rounded-circle  avatar-md"
                                                src="{%static 'images/users/'%}{{call.0}}.png"
                                                onerror='this.src="{% static 'images/users/user.png' %}"'
                                                alt="Generic placeholder image">
                                            </div>
                                            <div class="flex-grow-1 ">
                                                <h5 class="mb-1 fs-15 gilroymedium-type">{{call.0}}</h5>
                                                <div class="progress progress-md">
                                                    <div class="progress-bar bg-soft-yellow" role="progressbar"
                                                        style="width: {{ call.2 }}%;" aria-valuenow="40" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-0 mt-1 fs-12 text-muted  gilroymedium-type">Below
                                                        Average</p>
                                                    <p class="mb-0 mt-1 fs-12 text-muted  gilroymedium-type">{{call.1}} Calls
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        {%endfor%}

                                    </div>


                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->



                    </div>
                    <!--Monthly Summary-->
                    <div class="col-xxl-5 col-md-12 order-2 order-xxl-1">

                        <div class="card card-h-100">


                            <div class="card-body ">


                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Monthly Summary</h5>
                                    <!--<div class="ms-auto">
                                        <div>
                                            <a href="" class=" mb-0 my-n1">View all</a>

                                        </div>
                                    </div>-->
                                </div>



                                <div class="table-responsive" data-simplebar="" style="max-height: 220px ;">
                                    <table class="table mb-0  change ">

                                        <thead class="gilory-medium-type fs-14">
                                            <tr >
                                                <th>Date</th>
                                                <th>Live accounts</th>
                                                <th>Tickets</th>
                                                <th class="text-end">Leads</th>
                                            </tr>
                                        </thead>
                                        <tbody class="gilory-regular-type fs-14 text-white"  >
                                            
                                        {% for monthly in summary%}    
                                            <tr>
                                                <th scope="row">{{monthly.0}} {{monthly.7}}</th>
                                                <td>{{monthly.5}}</td>
                                                <td>{{monthly.2}}</td>
                                                <td class="text-end">{{monthly.3}}</td>
                                            </tr>
                                        {%endfor%}
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>


                    </div>
                    <!-- Meetings Report-->
                    <div class="col-xxl-4 col-md-6  order-1 order-xxl-2">

                        <div class="card  card-h-100">

                            <div class="card-body">

                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21"> Meetings Report</h5>
                                    <div class=" position-absolute " style="right: 0px;">
                                        <div>
                                            <button type="button"
                                            class="btn  bg-soft-gunmetal btn-sm  text-white fs-13 gilroyregular-type"
                                            onclick="switchtab(this,'#meetings_report_tabweekly','#meetings_report_tabdaily')">
                                            Weekly
                                        </button>
                                            <button type="button"
                                                class="btn   text-white btn-sm fs-13 gilroyregular-type almarenamonolight-type"
                                                onclick="switchtab(this,'#meetings_report_tabdaily','#meetings_report_tabweekly')">
                                                Daily
                                            </button>
                                           
    
                                        </div>
                                    </div>
    
                                </div>
                                <div class="  text-center  d-none">
    
                                    <img src="assets/images/nodata/nodata.png" alt="" style="max-height: 80px;">
    
    
    
                                    <p class="gilory-regular-type fs-20 mt-2">Tickets not
                                        sheduled</p>
    
                                </div>
                                <div id="meetings_report_tabweekly" class="d-block">
                                    <div class="" style="height: 220px">
                                        <!--id="meetings_report_w"-->
                                        {%if meeting_weekly_pie %} 
                                        <div id="meetings_report_w"
                                        data-colors='["#E7CE79","#645993","#D18C42","#71CCFF","#FF4929","#00A54F"]'
                                        class="apex-charts" dir="ltr">
                                    </div>
                                    {%else%}
                                        <div class="  text-center  d-block">
                                            <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                               
        
                                            <p class="gilory-regular-type fs-20 mt-2">No Meetings</p>
                                        
                                        
                                         </div>
        
                                        {%endif%}
                                    </div>
                                </div>
                                
                                
                                <div id="meetings_report_tabdaily" class="d-none">
                                    
                                    <div class="" style="height: 220px">
                                        {%if meeting_daily_pie %}
                                            <div id="meetings_report_d"
                                            data-colors='["#E7CE79","#645993","#D18C42","#71CCFF","#FF4929","#00A54F"]'
                                            class="apex-charts" dir="ltr">
                                            </div>
                                            {%else%}
                                            <div class="  text-center  d-block">
                                                <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                                   
            
                                                <p class="gilory-regular-type fs-20 mt-2">No Meetings</p>
                                            
                                            
                                             </div>
            
                                            {%endif%}
                                    </div>
                                    
                                </div>
                                
                               
                                
                            

                                
                            </div>

                        
                        </div>
                    </div>
                
                </div>
                <!--row2-->
                <div class="row">
                    <!--Active Campaigns-->
                    <div class="col-xxl-4 col-md-6 ">
                        <div class="card card-h-100">


                            <div class="card-body ">

                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Active Campaigns</h5>
                                    <div class="ms-auto">
                                        <div class="dropdown d-inline-block">
                                            <a  class="  position-relative " id="live-chats-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               
                                                <span class="badge bg-danger rounded-circle p-2">{{campaign_count}}</span>
                                            </a>
                                            
                                        </div>
                                        

                                    </div>
                                </div>
                                <div class="table-responsive " data-simplebar="" style="max-height: 220px ;">
                                    {%if campaigns %}
                                    <table class="table mb-0 change ">

                                        <thead class="gilroymedium-type fs-14 color-color1">
                                            <tr>
                                                <th>Campaign</th>
                                                <th>Duration</th>
                                                <th class="text-end">Count</th>

                                            </tr>
                                        </thead>
                                        <tbody class="gilroyregular-type fs-13 text-white">
                                            {%for campaign in campaigns%}
                                            <tr>
                                                <td scope="row">{{campaign.0}}</td>
                                                <td>{{campaign.1|date:"d-m-Y"}} to {{campaign.2|date:"d-m-Y"}}</td>
                                                <td class="text-end"> {{campaign.3}}</td>

                                            </tr>

                                         {%endfor%}
                                        </tbody>
                                    </table>
                                    {%else%}
                                            
                                            
                                    <div class="  text-center  d-block">
                                        <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 80px;">                                                   
                                        
    
                                        <p class="gilory-regular-type fs-20 mt-2">No Active Campaigns</p>
                                    
                                    
                                    </div>

                                {%endif%}
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!--Reminders-->
                    <div class="col-xxl-3  col-md-6 ">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21 ">Reminders</h5>
                                    <div class="ms-auto">
                                        <div class="dropdown d-inline-block">
                                            <a class="  position-relative " id="live-chats-dropdown"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                
                                                <span class="badge bg-info rounded-circle p-2" >{{reminder_count_show}}</span>
                                            </a>
                                      
                                        </div>
                                    </div>
                                </div>

                                <div data-simplebar="" style="max-height:220px ;">
                                    
                                    {%if remindercount > 0%}
                                    {%for reminder in reminders%} 

                                    <div class=" mb-3 px-3 py-3 card  ">


                                        <div>


                                            <h5 class=" fs-15  mb-1 gilory-semibold-type ">{{reminder.0}}</h5>
                                            <div
                                                class="d-flex justify-content-between align-items-center  gilroymedium-type flex-wrap  flex-xxl-nowrap">

                                                <p class="mb-0  fs-14  color-color1 me-2">
                                                    <span class=" ">{{reminder.1}}</span>
                                                </p>
                                                <a href=""
                                                    class="btn btn-sm btn-outline-success gilroymedium-type flex-shrink-0  mt-2 mt-xxl-0">{{reminder.2}}</a>

                                            </div>

                                        </div>



                                    </div>
                                    {%endfor%}
                                    {%else%}
                                    <div class="  text-center  d-block">
                                        <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                           
    
                                        <p class="gilory-regular-type fs-20 mt-2">No Reminders</p>
                                    
                                    
                                     </div>

                                    {%endif%}

                                  

                                </div>





                            </div>











                        </div><!-- end card body -->
                        <!-- end card -->
                    </div>
                    <!--Leads by Source-->
                    <div class="col-xxl-5 col-md-12">
                        <div class="card card-h-100">

                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21 ">Leads by Source</h5>
                                    <div class="ms-auto">
                                        <div>
                                            <p class=" gilroymedium-type fs-13 color-color1 m-0">{% now "M Y" %}</p>
                            

                                        </div>
                                    </div>
                                </div>
                                <div style="height: 220px;">

                                    <div id="column_chart_leadsbysource"
                                    data-colors='["#2C2D43","#72D4AB"]' class="apex-charts"
                                    dir="ltr"></div>
                                </div>
                            
                            </div>
                        </div>
                        <!--end card-->
                    </div>




                </div>
                <!--row3-->
                <div class="row">
                    <div class="col-xxl-3 col-md-6">
                        <div class="card card-h-100">

                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4 justify-content-between">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Tickets Processed</h5>
                                    <div class="flex-shrink-0 ms-2">
                                        <div>
                                            <p class=" gilroymedium-type fs-12 m-0 color-color1">{% now "M Y" %}</p>
                                            <!--<button type="button" class="btn btn-soft-secondary btn-sm">
                                                    Daily
                                                </button>
                                                <button type="button" class="btn btn-soft-primary btn-sm">
                                                    Weekly
                                                </button>-->

                                        </div>
                                    </div>
                                </div>
                            {%if ticket_summary%} 
                               {%for tickets in ticket_summary%}
                                <div class="row   justify-content-between align-items-center m-0 mb-3">
                                    <div class="progress   col-xl-8   p-0 progress-xl progress-xl bg-soft-gunmetal">
                                        <div class="progress-bar progress-bar-striped" role="progressbar  "
                                            style="width: {{tickets.percent}}%;background-color: {%cycle '#7AD3FF' '#FF9364' '#B09FFF' '#FE6C6C' '#99FFA3' '#FFD572'  %}" aria-valuenow="35"
                                            aria-valuemin="0" aria-valuemax="100">{{tickets.percent}}</div>
                                    </div>
                                    <div class=" col-xl-4  
                                    px-0  ps-lg-2 d-flex align-items-center">
                                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="4.77273" cy="5.73769" r="4.77273" fill="{%cycle '#7AD3FF' '#FF9364' '#B09FFF' '#FE6C6C' '#99FFA3' '#FFD572'  %}" />
                                        </svg>


                                        <span class="  ms-1 text-truncate"> {{tickets.name}}</span>
                                    </div>

                                </div>
                             
                                
                                {%endfor%}
                                {%else%}
                                <div class="  text-center  d-block">
                                    <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                       

                                    <p class="gilory-regular-type fs-20 mt-2">No Tickets Processed</p>
                                
                                
                                 </div>

                                {%endif%}
                            

                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-xxl-4 col-md-6">
                            <!--1400 and above xxl-->
                            <!--1200-1400 xl-->
                                <!--1200 below lg-->
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex  align-items-center justify-content-between mb-4">
                                        <h5 class="card-title me-2 almarenamonolight-type fs-21 ">Seminars
                                        </h5>
                                        <div class="ms-auto  flex-shrink-0 ">
                                            <div>
                                                <!--<p class=" gilroymedium-type fs-12 m-0 color-color1">June 2019</p>-->
                                                <div>
                                                    <button type="button"
                                                    class="btn  bg-soft-gunmetal btn-sm  text-white fs-13 gilroyregular-type"
                                                    onclick="switchtab(this,'#tab04','#tab03')">
                                                    Weekly
                                                    </button>
                                                    <button type="button"
                                                        class="btn   text-white btn-sm fs-13 gilroyregular-type almarenamonolight-type"
                                                        onclick="switchtab(this,'#tab03','#tab04')">
                                                        Daily
                                                    </button>
                                                   
            
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div style='height: 220px' id="tab04" class="d-block">
                                        {%if seminar_weekly_pie %} 
                                        <div id="weekly-seminar_w" data-colors='["#FF4929","#19BDB4","#5D62AB","#2C2E57","#ED589D","#E9BBD5"]'
                                        class="apex-charts"></div>
                                        {%else%}
                                        <div class="  text-center  d-block">
                                            <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                               
        
                                            <p class="gilory-regular-type fs-20 mt-2">No Weekly Seminars</p>
                                        
                                        
                                         </div>
        
                                        {%endif%}

                                    </div>
                                    
                                   
                                    
                                    <div style='height: 220px' id="tab03" class="d-none">
                                        {%if seminar_daily_pie %} 
                                        <div id="weekly-seminar_d" data-colors='["#FF4929","#19BDB4","#5D62AB","#2C2E57","#ED589D","#E9BBD5"]'
                                        class="apex-charts"></div>
                                        {%else%}
                                        <div class="  text-center  d-block">
                                            <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 120px;">                                                   
                                               
        
                                            <p class="gilory-regular-type fs-20 mt-2">No daily Seminars</p>
                                        
                                        
                                         </div>
        
                                        {%endif%}

                                    </div>
                                    
                                   

                                    

                                    
                                
                                </div>
                            </div>
                            
                        
                    </div>
                    <div class="col-xxl-5 col-md-12">
                        <div class="card card-h-100">

                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h5 class="card-title me-2 almarenamonolight-type fs-21">Sales graph quartly data </h5>
                                    <div class="ms-xxl-auto  d-none d-xxl-block">
                                        <div>
                                            <p class=" gilroymedium-type fs-12 color-color1 m-0">Sales graph quartly data </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style='height: 220px'>
                                    <div id="spline_area" data-colors='["#333550", "#2ab57d"]' class="apex-charts"
                                    dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                    

                    </div>

                </div>

            
            
            


            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



        
    </div>

    {% include "common/right-sidebar.html" %}


<div class="rightbar-overlay"></div>
<div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="alertpopup">
    <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class=" fs-16">
                    <div id="userMsg"></div>
                </h5>
                <a href="" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                </a>
            </div>
      
        </div>
     </div>
    </div>
<script>
    var leads_graph={{leads_graph|safe}}
    var meeting_daily_pie={{ meeting_daily_pie|safe}}
    var meeting_weekly_pie={{meeting_weekly_pie|safe}}
    var seminar_daily_pie={{seminar_daily_pie|safe}}
    var seminar_weekly_pie={{seminar_weekly_pie|safe}}
    var halfyearly_bar={{halfyearly_bar|safe}}
    
    $(function() {
        $("#salesreps").change(function(){
            var selrep=$("#salesreps").val()
            
            var url="{% url 'Admin:Dashboard'%}"
            window.location.href=url+"?&repId="+selrep
        })


    })
    function managernotify(ticket){
        $.ajax({
            
            type : "GET", 
            data : {
                "ticket":ticket,
                
            },
            url: "{% url 'Admin:AutomateManager' %}",
            success: function(data){
                var message=data.message
                $("#userMsg").empty()
                $("#userMsg").append("Assigned To Manager Successfully")
                $("#alertpopup").modal('show')
                

            }
        })   
    }
    function repnotify(ticket){
        $.ajax({
            
            type : "GET", 
            data : {
                "ticket":ticket,
                
            },
            url: "{% url 'Admin:AutomateRep' %}",
            success: function(data){
                var message=data.message
                $("#userMsg").empty()
                $("#userMsg").append("Reminder Send")
                $("#alertpopup").modal('show')
            }
        })   
    }
</script>
<script src="{%static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{%static 'js/pages/dashboard-management.init.js' %}"></script>
<script src="{%static 'js/app.js' %}"></script>