<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->
     <!-- datepicker css -->
     <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">

 
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
    

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">RESOLVED TICKETS</h4>
                                <div class="d-flex flex-no-wrap justify-content-between align-items-start  mb-4">
                                    <p class="gilroymedium-type fs-15 color-color1 mb-0">This page allows you to view the Resolved Inquiries.
                                   </p>
                                   <div class=" mt-2  mt-md-0">
                                    <!--<form class="needs-validation " novalidate="" id="action-call">-->
                                        <div class="row align-items-end justify-content-end">


                                                <div class="col-sm-3">
                                                    <div class="mb-2">
                                                        <label class="form-label " for="fromdate">From Date</label>
                                                        <input type="text" id="fromdate" class="py-1">

                                                       
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="mb-2">
                                                        <label class="form-label " for="todate">To Date</label>

                                                        <input type="text" id="todate" class="py-1">
                                                        
                                                    </div>




                                                </div>
                                                <div class="col-sm-3 ">
                                                    <button class="btn btn-info btn-md mb-2 py-1" type="button" onclick="loadAll()">Load</button>
                                                    




                                                </div>
                                               





                                        </div>


                                    
                                </div>
                                   <!-- <button type="button" class="btn  btn-lg   btn-success  px-3  gilory-semibold-type flex-grow-0" onclick="loadAll()">Load All</button> -->
                                </div>
                                <div class=" px-1 table-responsive">
                                    <table id="datatableleads" class="table dt-responsive  nowrap w-100 ">
                                        <thead>
                                            <tr  class=" ">
                                                <th data-id="datepicker-range" class="filterhead">Date</th>
                                                <th data-text="text" class="filterhead">Ticket</th>
                                                
                                                <th  data-text="text" class="filterhead">Name</th>
                                                
                                                <th  data-text="text" class="filterhead">Phone</th>
                                                <th  data-text="text" class="filterhead">Email</th>
                                                <th data-text="select" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">Country</th>
                                            </tr>
                                        </thead>
    
    
                                        <tbody>
                                        <!-- <tr>
                                            <th  data-type="text">Date</th>
                                            <th  data-type="text">Id</th>
                                            <th  data-type="text">Email</th>
                                            <th data-type="text" >Name</th>
                                            <th  data-type="text">Phone/th>
                                            <th  data-type="text" >Source</th>
                                            <th  data-type="text" >Country</th>
                                        </tr>    -->
                                        {%for data in resolved_tickets %}
                                        <tr ondblclick='checkticket("{{data.1}}")' style="cursor: pointer;">
                                            <td >{{data.0}}</td>
                                            <td>{{data.1}}</td>
                                            <td>{{data.2}}</td>                                            
                                            <td>{{data.3}}</td>
                                            <td>{{data.4}}</td>
                                            <td>{{data.6}}</td>
                                            <td>{{data.5}}</td>
                                        </tr>
                                        
                                        {%endfor%}
                                       
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
  
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
    <script>
         function checkticket(ticket){
            console.log("Double clicked")
            var url="{% url 'Admin:LeadProcessing'%}"
            window.location.href=url+"?&ticket="+ticket+"&email1=''&email2=''&mobile=&telephone="
        }
        function loadAll(){
            fromdate=document.getElementById("fromdate").value
            todate=document.getElementById("todate").value
                $('#datatableleads').dataTable().fnClearTable();
                $('#datatableleads').dataTable().fnDestroy();
                $("#datatableleads").DataTable({
                    //  'processing' : "<span class='fa-stack fa-lg'>\n\
                    //                     <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                    //                     </span>&nbsp;&nbsp;&nbsp;&nbsp;",
                    "language": {
                                    'loadingRecords': "<span class='fa-stack fa-lg'>\n\
                            <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                       </span>&emsp;Loading Details ...",
                                },
                    'paging':true,               
                    'ajax':{
                    url: "{% url 'Admin:ResolvedTktsAll' %}",
                    data:{
                    'from':fromdate,
                    'to':todate
                   },
                    dataSrc:function(json_data){
                        

                        var items = [];
                        for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                            items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][6],json_data[i][5]]; 
                                
                            }
                            console.log(items);
                            return items;
                    }
                    },
                    responsive: true,
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();
     // For each column
                api
         .columns()
         .eq(0)
         .each(function (colIdx) {
             var column = this;
             // Set the header cell to contain the input element

             var cell = $('.filters th').eq(
                 $(api.column(colIdx).header()).index()
             );
             var $myindex=$(api.column(colIdx).header()).index();
             var $myhead=$("#datatableleads thead tr th").eq($myindex);
             var title = $myhead.text();
             var id = $myhead.attr('data-id');
             //var datatext=$(cell).attr('data-text');
             var select1 = $('<select   id="' + id + '" placeholder="' + title + '"  class="fs-14 form-control w-100"><option value=""></option></select>');
             if ($(cell).attr('data-text') == 'select') {
                 //console.log($(cell).index());
                 api.column($(cell).index())
                     .data()
                     .unique()
                     .sort()
                     .each(function (d, j) {


                         select1.append('<option value="' + d + '">' + d + '</option>');

                     });
                 $(cell).html(select1);




             } else {
                 $(cell).html('<input type="text" id="' + id + '" placeholder="' + title + '"  class="fs-14"   />');
             }


             // On every keypress in this input
             $(
                 'input',
                 $('.filters th').eq($(api.column(colIdx).header()).index())
             )
                 .off('keyup change')
                 .on('change', function (e) {

                     if ($(this).attr('id') == 'datepicker-range') {
                         console.log("Heloooo");

                         //var vals=this.value ;



                     } else {
                         //console.log($(this).attr('id'));


                         // Get the search value
                         $(this).attr('title', $(this).val());

                         //var vals=this.value ;

                         var regexr = '({search})'; //$(this).parents('th').find('select').val();

                         var cursorPosition = this.selectionStart;
                         // Search the column for that value
                         api
                             .column(colIdx)
                             .search(
                                 this.value != ''
                                     ? regexr.replace('{search}', '(((' + this.value + ')))')
                                     : '',
                                 this.value != '',
                                 this.value == ''
                             )
                             .draw();

                     }


                 })
                 .on('keyup', function (e) {
                     e.stopPropagation();

                     $(this).trigger('change');
                     $(this)
                         .focus()[0]
                         .setSelectionRange(cursorPosition, cursorPosition);
                 });

             $(
                 'select',
                 $('.filters th').eq($(api.column(colIdx).header()).index())
             )
                 .off('keyup change')
                 .on('change', function (e) {

                     if ($(this).attr('id') == 'datepicker-range') {
                         console.log("Heloooo");

                         //var vals=this.value ;



                     } else {
                         //console.log($(this).attr('id'));


                         // Get the search value
                         $(this).attr('title', $(this).val());

                         //var vals=this.value ;

                         var regexr = '({search})'; //$(this).parents('th').find('select').val();

                         var cursorPosition = this.selectionStart;
                         // Search the column for that value
                         api
                             .column(colIdx)
                             .search(
                                 this.value != ''
                                     ? regexr.replace('{search}', '(((' + this.value + ')))')
                                     : '',
                                 this.value != '',
                                 this.value == ''
                             )
                             .draw();

                     }

                 })
                 .on('keyup', function (e) {
                     e.stopPropagation();

                     $(this).trigger('change');
                     $(this)
                         .focus()[0]
                         .setSelectionRange(cursorPosition, cursorPosition);
                 });
         });
         flatpikrCall()
 },
        
                    

                });
        }
        function flatpikrCall(){
    
    minDateFilter = "";
    maxDateFilter = "";


    //Flat Picker Date
    flatpickr('#datepicker-range', {

        //const fp = flatpickr(".test-calendar", {  altFormat: "F j, Y", dateFormat: "Y-m-d", showMonths: 3, disableMobile: true, inline: true, mode: "range", 
        //altInput: true,
        "allowInput": true,
        dateFormat: "Y-m-d",//MMMM Do YYYY
        mode: "range",
        //enableTime: false,
        altInput: true, // Human Readable
        //minDate: new Date().fp_incr(-60), // 60 days from today
        //maxDate: defaultEnd,
        //locale: { firstDayOfWeek: 1},

        onChange:
            function (selectedDates, dateStr, instance) {
              
                var table = $('#datatableleads').DataTable();
                function rangefilter(ev, picker) {
                            minDateFilter = Date.parse(selectedDates[0]);
                            maxDateFilter = Date.parse(selectedDates[1]);
                            //console.log( 'maxDateFilter'+ maxDateFilter);
                            //console.log( 'minDateFilter'+ minDateFilter);
                           // console.log( $(this).index()+1);
                            $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
                            var date = Date.parse(data[ $(this).index()+1]);
                        
                            if (
                            (isNaN(minDateFilter) && isNaN(maxDateFilter)) ||
                            (isNaN(minDateFilter) && date <= maxDateFilter) ||
                            (minDateFilter <= date && isNaN(maxDateFilter)) ||
                            (minDateFilter <= date && date <= maxDateFilter)
                            ) {
                            return true;
                            }
                            return false;
                        });
                        table.draw();
                        }

                rangefilter();
        },
        onReady: function (selectedDates, dateStr, instance) {
           
        },
          // https://codepen.io/bintux/pen/rgYeyp
        onClose: function (selectedDates, dateStr, instance) {
            var table = $('#datatableleads').DataTable();
            function rangefilter(ev, picker) {
                            minDateFilter = Date.parse(selectedDates[0]);
                            maxDateFilter = Date.parse(selectedDates[1]);
                            //console.log( 'maxDateFilter'+ maxDateFilter);
                            //console.log( 'minDateFilter'+ minDateFilter);
                           // console.log( $(this).index()+1);
                            $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
                            var date = Date.parse(data[ $(this).index()+1]);
                        
                            if (
                            (isNaN(minDateFilter) && isNaN(maxDateFilter)) ||
                            (isNaN(minDateFilter) && date <= maxDateFilter) ||
                            (minDateFilter <= date && isNaN(maxDateFilter)) ||
                            (minDateFilter <= date && date <= maxDateFilter)
                            ) {
                            return true;
                            }
                            return false;
                        });
                        table.draw();
                        }

            rangefilter();

                         //console.log(selectedDates.attr('value'));
          
            
        }

    });

}
    </script>
    
    <!-- Required datatable js -->
    <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables-filtercolumn-leads.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>