<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
        <div class="main-content">

            <div class="page-content" id="sales">
                <div class="container-fluid">               
                    
                    <div class="row">
    
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">Sales Calls Report</h4>
                                <div class="ms-auto">
                                    <a target="_top" class="btn  btn-sm  bg-soft-secondarycolor text-white me-2  mb-2"  style="background-color: var(--bs-card-bg)" onclick="printReport();"><i class="fa fa-print me-2"></i><span>Print</span></a>
                                    <!-- <a href="javascript:window.print()" class="btn  btn-sm  bg-soft-secondarycolor text-white me-2  mb-2"  style="background-color: var(--bs-card-bg)"><i class="fa fa-print me-2"></i><span>Print Report All</span></a> -->
                                    <a class="btn  btn-sm  bg-soft-secondarycolor text-white me-2  mb-2"  style="background-color: var(--bs-card-bg)" data-bs-toggle="modal" data-bs-target="#monthly-report"><i class="fa fa-save me-2"></i><span>Monthly Call Report</span></a>
                                
                                </div>
                                
                            </div>
                           
                       
                            
                            <div class=" mb-4">
                                <p class="gilroymedium-type fs-15 color-color1 mb-0">This page allows you to view the details regarding Sales
                                    Calls by Sales Representatives.</p>
                            </div>
    
                     
                            
                        </div>
                        <div class="col-xxl-9">
                                <div class="row align-items-end mb-4">
    
                                        <div class="col-sm-3">
                                            <div class="mb-2">
                                                <label class="form-label " for="salesrep">Sales Rep</label>
                                                <select   class="py-1 form-select" id="salesrepId"> 
                                                    <option value="0">Select</option>
                                                    {%for rep in salesrep%}
                                                    <option value="{{rep.1}}">{{rep.1}}</option>
                                                    {%endfor%}
                                                </select>
    
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="mb-2">
                                                <label class="form-label " for="fromdate-sr">From Date</label>
                                                <input type="text" id="fromdate-sr" class="py-1">
                                                <input type="hidden" name="from" id="fromprint">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
    
                                            <div class="mb-2">
                                                <label class="form-label " for="todate-sr">To Date</label>
    
                                                <input type="text" id="todate-sr" class="py-1">
                                                <input type="hidden" name="from" id="toprint">
                                            </div>
    
    
    
    
                                        </div>
                                        <div class="col-sm-2 ">
                                            <button class="btn btn-info btn-md mb-2 py-1 noPrint" type="button" id="load-btn-sr" onclick="loadAllReport()">Load</button>
                                            
    
    
    
    
                                        </div>
                                        
    
    
    
    
    
                                </div> 
                        </div>
                    </div>
                    
                    <div class="row">
    
                        <div class="col-12">
                            <div class="card">
                               
                                <div class="card-body ">
                                    
                                    
                                   
                                    
                                    <div class=" px-1 table-responsive" id="salesreport" style="max-height: 453px;">
                                        
                                        <table class="table mb-0  change " >
    
                                            <thead class="gilory-medium-type fs-16">
                                                <tr>
                                                    <td class=" ps-0">Country</td>
                                                    <td style="color:  #2D8CFF;">Spoken</td>
                                                    <td style="color:  #DD9406;">Busy</td>
                                                    <td style="color:  
                                                    #55CED7;">No Reply</td>
                                                    <td style="color:   #FD0C0C;">Wrong Calls</td>
                                                    <td style="color:   #00B929;">Re Solved</td>
                                                    <td class="text-end pe-0" >Total</td>
                                                </tr>
                                            </thead>
                                           
                                            <tbody class="gilory-regular-type fs-15 text-white" id="report-body">
                                              
                                            
                                              
                                            
    
                                            </tbody>
                                            <tfoot id="report-footer">
    
                                                
                                               
    
                                            </tfoot>
                                        </table>
                                    </div>
                                    
    
                                </div>
                            </div>
                            <ul class="gilory-medium-type list-unstyled color-color1 fs-17 d-flex " id="interested-ul">

                                <li> <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="6" cy="6" r="6" fill="#0CC165"/>
                                    </svg>
                                    <span class="text-white">Interested : </span > <span style="color:#0CC165" id="interested-span">0</span></li>
                                <li class="ms-5"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="6" cy="6" r="6" fill="#2D8CFF"/>
                                    </svg>
                                 <span class="text-white"> Spoken : </span><span style="color:#2D8CFF" id="spoken-span">0</span></li>
                            </ul>
                        </div> <!-- end col -->
    
                        <div class="col-12">
    
                            <!-- modal-temp -->
                            <!--<button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-temp" style="background-color: var(--bs-card-bg) ;">Templates</button>-->
                            
                            <!-- modal-Chat Logs -->
                            <!--<button type="button" class="btn btn-primary waves-effect waves-light" style="background-color: var(--bs-card-bg) ;">Seminars</button>-->
    
                            <!-- /.modal-dialog -->
                            </div>
                            
                            <!-- /.modal -->
                        </div>
    
    
    
                    </div>
                    <!-- end row-->
                    </div>
                    
                </div>
     </div>
            <!-- END layout-wrapper -->
            
            <div class="modal fade" id="monthly-report" tabindex="-1" >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
            
                        <div class="modal-body ">
    
                            <div class="  px-3 border rounded-3 py-4">
                            
                                <div class="modal-header py-0 px-0 border-bottom-0">
                                    <h5 class="modal-title mb-3" id="modal-title">Monthly Report</h5>
    
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    
                                </div>
                           
                                
                                    
                                    <div class="row">
                                    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <!--<label class="form-label">Event Name</label>-->
                                                <input type="text" id="monthly" class="py-1">
                                                
                                                
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <button type="button"  class="btn btn-success" id="btn-save-event" onclick="monthlyreportLoad()">Load</button>
                                                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="btn-delete-event">Cancel</button>
                                                </div>
                                              
                                            </div>
                                        </div>
                                   
                                    </div>
                                    
                                
                            </div>
                        
                        </div>
                    </div> <!-- end modal-content-->
                </div> <!-- end modal dialog-->
            </div>  
            
    {% include "common/right-sidebar.html" %}
        
            <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <script>
        function loadAllReport(){
            var repId=$("#salesrepId").val()
            var from_date=document.getElementById('fromdate-sr').value
            var to_date=document.getElementById('todate-sr').value
            $("#fromprint").val(from_date)
            $("#toprint").val(to_date)
            console.log("Request to server====="+repId+from_date+to_date)
            $.ajax({
                    
                    type : "GET", 
                    url: "{% url 'Admin:Report' %}",
                    data:{
                        "from_date":from_date,
                        "to_date":to_date,
                        "repId":repId
                    },
                    
                    
                    success: function(data){
                        console.log("Report======"+data.report)
                        var report=data.report
                        var interested=data.interested
                        var reportlen=report.length
                        var footerlen=reportlen-1
                        var row=""
                        document.getElementById("spoken-span").innerHTML=0
                        document.getElementById("interested-span").innerHTML=""
                        $("#report-body").empty()
                        $("#report-footer").empty()
                        console.log("%%%%%%%%%%%%%"+report[reportlen])
                        for(var i=0;i<reportlen-1;i++){
                            
                            console.log("*******************"+report[i][0])
                            row+="<tr><td scope='row'>"+report[i][0]+"</td><td>"+report[i][1]+"</td><td>"+report[i][2]+"</td><td>"+report[i][3]+"</td><td>"+report[i][4]+"</td><td>"+report[i][5]+"</td><td class='text-end'>"+report[i][6]+"</td></tr>";
                        }
                        $("#report-body").append(row)
                        
                        if(footerlen>0){
                        var footer="<tr><td scope='row' style='color:  #F8D091' class='ps-0'>"+report[footerlen][0]+"</td><td style='color:  #F8D091'>"+report[footerlen][1]+"</td>"+
                                   "<td style='color:  #F8D091'>"+report[footerlen][2]+"</td><td style='color: #F8D091'>"+report[footerlen][3]+"</td><td style='color:  #F8D091'>"+report[footerlen][4]+"</td>"+
                                    "<td style='color:  #F8D091' >"+report[footerlen][5]+"</td><td class='text-end pe-0' style='color:  #F8D091'>"+report[footerlen][6]+"</td></tr>"
                                    $("#report-footer").append(footer)
                        var spoken_total=report[footerlen][1]
                        var _total=report[footerlen][6]
                        console.log("Totals=================="+spoken_total)
                         var spokenper=(parseInt(spoken_total)/parseInt(_total))*100
                         spokenper=spokenper.toFixed(2)
                         console.log("Spoken percentage==="+spokenper)
                         document.getElementById("spoken-span").innerHTML=spokenper+"%"
                        }
                       document.getElementById("interested-span").innerHTML=interested
                        $("#interested-ul").show()

                        
                    }
            })
            
        }
        function monthlyreportLoad(){
            var monthly=document.getElementById('month').value
            var year=document.getElementById('year').value
            var repId=$("#salesrepId").val()
            
            console.log("monthly input issssssssssssssssssss"+monthly)
            $.ajax({
                    
                    type : "GET", 
                    url: "{% url 'Admin:MonthlyReport' %}",
                    data:{
                        "month":monthly,
                        "year":year,
                        "repId":repId
                    },
                    
                    
                    success: function(data){
                    }
            })

        }
        function printReport(){
            console.log("Print report======")
            var repId=$("#salesrepId").val()
            var from_date=document.getElementById('fromprint').value
            var to_date=document.getElementById('toprint').value
            console.log("Print report======"+repId+from_date+to_date)
            if(repId=="0" && from_date=="" && to_date==""){
                console.log("Nothing to print")
            }
            else{
                
                var url="{% url 'Admin:PrintReport' %}"
                var fullurl=url+"?&SalesRep="+repId+"&from="+from_date+"&to="+to_date
                window.open(fullurl,'_blank')
            }

        }



    </script>

    

    <!-- datepicker js -->
    <script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <!-- Datatable init js -->
    <script src="{% static 'js/pages/management-salesreport.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>