    <!---Monthly Summary table-->
    <div class="row">

        <div class="col-xl-12">
            <div class="card">


                <div class="card-body ">


                    <div class="d-flex flex-wrap align-items-center mb-4">
                        <h5 class="card-title me-2 almarenamonolight-type fs-21">Monthly Summary</h5>
                        <div class="ms-auto">
                            <div>
                                <!-- <a href="" class=" mb-0 my-n1">View all</a> -->

                            </div>
                        </div>
                    </div>



                    <div class="table-responsive" data-simplebar="" style="max-height: 352px ;">
                        <table class="table mb-0 ">

                            <thead>
                                <tr class="almarenamonolight-type fs-14">
                                    <th>Date</th>
                                    <th>Live accounts</th>
                                    <th>Tickets</th>
                                    <th class="text-end">Leads</th>
                                </tr>
                            </thead>
                            <tbody class="gilroymedium-type fs-15">
                                {% for monthly in monthly_count %}
                                
                                <tr>
                                    <th scope="row">{{monthly.0}}{{monthly.7}}</th>
                                    <td>{{monthly.5}}</td>
                                    <td>{{monthly.2}}</td>
                                    <td class="text-end">{{monthly.3}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>

    </div>