<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    {% load  static %}
    <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    <link href="{% static 'css/input-tel.min.css' %}" rel="stylesheet" type="text/css" />
    {% include "common/scripts.html" %}
    <!-- App favicon -->
    

    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->

    <!-- preloader css -->
  
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
  

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-xl-8 col-lg-8">
                        <div class="card  card-h-100">
                         
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h4 class="card-title fs-23 almarenamonolight-type">New Lead Registration
                                    </h4>

                                </div>
                           
                            
                                <form class="needs-validation" id="lead_form" novalidate  >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="d-flex flex-wrap align-items-center mb-2">
                                            <h4 class="card-title fs-20 almarenamonolight-type">Personal details
                                            </h4>
        
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="title">Title<span class="color-orange">*</span></label>
                                                <select  class="form-select" id="title"  value="" name="title">
                                                    <option value="Mr">Mr</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Mrs">Mrs</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Invalid.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="firstname*">Name<span class="color-orange">*</span></label>
                                                <input type="text" class="form-control" id="fullname" placeholder="both name(s) e.g Jon Doe" name="name"  required>
                                                <div class="invalid-feedback" id="valid_name">
                                                    Invalid name.
                                                </div>
                                            </div>
                                        </div>
                                  
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                
                                                    <label class="form-label" for="email1">Email 1 <span class="color-orange">*</span></label>
                                                    
                                                
                                                
                                                <input type="email" class="form-control" id="email1" placeholder="Steve@gmail.com" name="email1">
                                                <div class="invalid-feedback">
                                                    Invalid Email.
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="email2">Email 2</label>
                                                <input type="email" class="form-control" id="email2" placeholder="Steve@gmail.com" name="email2">
                                                <div class="invalid-feedback">
                                                    Invalid Email.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            
                                            <div class="mb-3">

                                                
                                                    <label class="form-label" >&nbsp;</label>

                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="email_unav" name="email_agree">
                                                        <label class="form-check-label fs-12" for="emailUav">Email Unavailable*</label>
                                                        <div class="invalid-feedback fs-10 py-0 " id="email_agree">
                                                            You must agree before submitting.
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                        
                                    </div>
                               
                                        <div class="col-md-1 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="age">Age</label>
                                                <input type="number" class="form-control" id="age" placeholder="" name="age" >
                                                <div class="invalid-feedback" id="invalid_age">
                                                    Invalid Age.
                                                </div>
                                            </div>
                                        </div>

                                            
                                      

                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="mobile">Mobile<span class="color-orange"></label>

                                                   <!--<input type="tel" id="phone">-->
                                                   



                                                <input type="tel" class="form-control" id="phone" name="mobile">
                                                <input type="hidden" name="mobile_country" id="mobile_country">
                                                <span id="error-msg" class="hide"></span>
                                                <span id="valid-msg" class="hide">✓ Valid</span>
                                                <div class="invalid-feedback" id="invalid_mobile">
                                                    Invalid phone number.
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="phone2">Telephone</label>
                                                <!--<input type="tel" class="form-control" id="Telephone" placeholder="e.g + 971 553 445 22" >-->

                                                <input type="tel" class="form-control" id="phone2" name="telephone" >
                                                <input type="hidden" name="tel_country" id="tel_country">
                                                <span id="error-msg2" class="hide"></span>
                                                <span id="valid-msg2" class="hide">✓ Valid</span>
                                                <div class="invalid-feedback">
                                                    
                                                   
                                                </div>
                                                <div class="invalid-feedback">
                                                    Invalid phone number.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Address">Address</label>
                                                <input type="text" class="form-control" id="Address" placeholder="" name="address">
                                                <div class="invalid-feedback">
                                                    Invalid address.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="City">City</label>
                                                <input type="text" class="form-control" id="City" placeholder="" name="city">
                                                <div class="invalid-feedback">
                                                    Invalid city.
                                                </div>
                                            </div>
                                            
                                        </div>
                                       
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="State*">State</label>
                                                <input type="text" class="form-control" id="State" placeholder="" name="state">
                                                <div class="invalid-feedback">
                                                    Invalid state.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Zipcode">Zip code</label>
                                                <input type="number" class="form-control" id="Zipcode" placeholder="" name="zipcode">
                                                <div class="invalid-feedback">
                                                    Invalid zip code.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Zipcode">Dob</label>
                                                <input type="tel" class="form-control" id="dob" placeholder="Date of birth" name="dob"  data-id="datepicker-range">
                                                <div class="invalid-feedback">
                                                    Invalid date.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <hr class="mt-3 ">
                                        <div class="d-flex flex-wrap align-items-center mb-2">
                                            <h4 class="card-title fs-20 almarenamonolight-type">Further details
                                            </h4>
        
                                        </div>
                                       

                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="profession">Profession</label>
                                                <input type="tel" class="form-control" id="profession" placeholder="" name="profession">
                                                <div class="invalid-feedback">
                                                    Invalid Profession.
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Subject">Subject</label>
                                                <input type="tel" class="form-control" id="Subject" placeholder="" name="subject">
                                                <div class="invalid-feedback">
                                                    Invalid Subject.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Source">Source</label>
                                                <input type="text" class="form-control" id="Source" placeholder="" value="{{source}}" name="source" disabled>
                                                <div class="invalid-feedback">
                                                    Invalid source.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Source">Annual Income</label>
                                                <input  type="number" class="form-control" id="income" placeholder=""  name="income" >
                                                <div class="invalid-feedback">
                                                    Invalid annual income.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Source">How did you hear about us</label>
                                                <select  class="form-select" id="hear"  value="" name="hearabout">
                                                    <!-- <option value=""></option> -->
                                                    <option value="facebbok">Facebook</option>
                                                    <option value="friends">Friends</option>
                                                    <option value="family">Family</option>
                                                    <option value="IB">IB</option>
                                                    <option value="offadv">Offline Advertisements</option>
                                                    <option value="onadv">Online Advertisements</option>
                                                    <option value="searchengine">Search Engine</option>
                                                    <option value="tv">TV</option>
                                                    <option value="other">Other</option>
                                                </select>
                                                <!-- <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div> -->
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Source">Experience</label>
                                                <select  class="form-select" id="experience"  value="" name="experience">
                                                    <option value="0">No Experience</option>
                                                    <option value="1">Beginner</option>
                                                    <option value="2">Intermediate</option>
                                                    <option value="3">Expert</option>
                                                </select>
                                                <!-- <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div> -->
                                            </div>
                                            
                                        </div>
                                       
                                      
                                    
                                        
                                       
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="invalidCheck" required>
                                                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                                                    <div class="invalid-feedback">
                                                        You must agree before submitting.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <button class="btn btn-primary btn-lg mt-3" type="submit">Submit </button>
                                    <button class="btn btn-outline-secondary ms-2 btn-lg mt-3" type="reset" id="reset">Reset</button>
                                </form>
                            </div>
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                    <div class="col-xl-4 col-lg-4">
                        <div class=" card  border-0 card-h-100" style="background-color:#1B1D36 ;">
                         
                            <div class="card-body">
                                <div class=" ">
                                    <h4 class="card-title fs-50 almarenamonolight-type mt-5  mb-2 py-1">Drive
                                        <br>  <span class="text-success">more sales!</span>
                                    </h4>
                                    <p class="fs-16 color-color1">Enhance Your Sales with Better Data</p>
                                    <div class="  pt-5">
                                        <img src="{%static 'images/db/newleads.png' %}" class="mt-4" alt="" style="width: 100%;">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="permission_model">
        <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <!--<h5 class="modal-title fs-21">@title</h5>-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                        
                <div class="modal-body" >
    
    
                    <div data-simplebar style="max-height: 230px;">
    
                         <!--User-->
                    <div class="d-flex align-items-center">
                    
                        <!-- <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm align-self-center">
                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                    J
                                </span>
                            </div>
                        </div> -->
                        <div class="flex-grow-1">
                            <div id="ticket"></div>
                            <br>
                            <h6 class="mb-0">You dont have permission to view this Ticket</h6>
                            <!--<div class="font-size-13 text-muted">
                                <p class="mb-1">It will seem like simplified English.</p>
                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                            </div>-->
                        </div>
                    </div>
                  
                  
    
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
  
    <!-- form validation -->
    <script src="{% static 'js/pages/data.init.js' %}"></script> 
    <script src="{% static 'js/pages/intTellinput.init.js' %}"></script>   
    <script src="{% static 'js/pages/utils.init.js' %}"></script>  


    <!-- form validation -->
    <script src="{% static 'js/pages/form-validation-lead.init.js' %}"></script>    
    <script>
        
        $('#lead_form').on('submit', function(e){
            
        
          
        e.preventDefault();
        
            console.log("Submit function happend")
            var email1=$("#email1").val()
            var email2=$("#email2").val()
            var mobile=$("#phone").val()
            var phone=$("#phone2").val()
            console.log("email1"+email1+"email2"+email2+"mobile"+mobile+"phone"+phone)
            var form_data=$('#lead_form')
            var form=$('#lead_form')[0]
            var isValid = form.checkValidity();
            console.log("Issssssssssss validddddddddddddd"+isValid)
            
       if(isValid){
        $.ajax({
               type : "POST", 
               url: "{% url 'Admin:LeadSubmit' %}",
               data: form_data.serialize(),
               
               success: function(data){
                  console.log(data.success)
                  var ticket=data.ticket;
                  if(ticket === undefined){
                    ticket=" ";
                  }
                  if(data.success){
                    console.log("ticket"+ticket);
                 
                    console.log("Success message'")
                    document.getElementById("ticket").innerHTML="<h6 class='mb-0'>Ticket already exists : "+ticket+"</h6>"
                    $('#permission_model').modal('show')
                  }else{
                    console.log("Error message'")
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url+"?&ticket="+ticket+"&email1="+email1+"&email2="+email2+"&mobile="+mobile+"&telephone="+phone
                  }
                 
                 
               },
        
               failure: function() {
                   console.log("Functional error")
               }
        
        
           });

       
       }
        
        
     
        
                });    
     </script>
  
    <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>