<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Leads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->
     <!-- datepicker css -->
     <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}
    <!-- DataTables -->
  
    

 
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
    

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                <div class="row">

                  
                    <div class="col-xl-3    col-md-6 col-sm-6 ">
                        <!-- card -->
                        <div class="card card-h-100 ">
                            <!-- card body -->
                            <div class="card-body py-2">
                                <div class="">
                                    <div class="d-flex align-items-center  flex-xl-column flex-xxl-row">
                                        <span class=" mb-3 lh-1 d-block flex-shrink-0 " >
                                            <i class="  rounded-circle d-inline-block p-3  " style="background-color: var(--bs-card-bg);">

                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.3198 27.2247V24.1197" stroke="#DD9406" stroke-width="2" stroke-linecap="round"/>
                                                    <path d="M18 27.2247V21.0147" stroke="#DD9406" stroke-width="2" stroke-linecap="round"/>
                                                    <path d="M25.6797 27.2247V17.8947" stroke="#DD9406" stroke-width="2" stroke-linecap="round"/>
                                                    <path d="M25.6798 8.77469L24.9898 9.58469C21.1648 14.0547 16.0348 17.2197 10.3198 18.6447" stroke="#DD9406" stroke-width="2" stroke-linecap="round"/>
                                                    <path d="M21.2847 8.77469H25.6797V13.1547" stroke="#DD9406" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13.5 32.9995H22.5C30 32.9995 33 29.9995 33 22.4995V13.4995C33 5.99951 30 2.99951 22.5 2.99951H13.5C6 2.99951 3 5.99951 3 13.4995V22.4995C3 29.9995 6 32.9995 13.5 32.9995Z" stroke="#DD9406" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    
                                                    
                                                    



                                            </i>
                                        </span>
                                        <div class="ms-3 ms-xl-0 me-1 ms-xxl-2 flex-shrink-0">
                                           
                                            <div class="text-wrap mb-1 text-xl-center text-xxl-start" >
                                                <!--<span class="badge bg-soft-success text-success">+$20.9k</span>-->
                                                <span class=" color-color1 fs-20 almarenamonolight-type">Today’s <br>
                                                   total leads</span>
                                            </div>
                                            
                                            <h2 class=" gilory-semibold-type fs-40 mb-0 text-xl-center text-xxl-start" data-target="12">{{leads_count.0}}</h2>
                                            
                                        </div>
                                        
                                    </div>


                                </div>
                                
                            </div><!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div><!-- end col -->
                    <div class="col-xl-3    col-md-6 col-sm-6 ">
                        <!-- card -->
                        <div class="card card-h-100 ">
                            <!-- card body -->
                            <div class="card-body py-2">
                                <div class="">
                                    <div class=" d-flex align-items-center  flex-xl-column flex-xxl-row">
                                        <span class=" mb-3 lh-1 d-block flex-shrink-0 " >
                                            <i class="  rounded-circle d-inline-block p-3  " style="background-color: var(--bs-card-bg);">

                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M27.48 17.9999C31.38 17.9999 33 16.4999 31.56 11.5799C30.585 8.26493 27.735 5.41493 24.42 4.43993C19.5 2.99993 18 4.61993 18 8.51993V12.8399C18 16.4999 19.5 17.9999 22.5 17.9999H27.48Z" stroke="#00A651" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M30.0001 22.05C28.6051 28.995 21.9451 34.035 14.3701 32.805C8.68514 31.89 4.11014 27.315 3.18014 21.63C1.96514 14.085 6.97514 7.42495 13.8901 6.01495" stroke="#00A651" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    
                                                    



                                            </i>
                                        </span>
                                        <div class="ms-3 ms-xl-0 me-1 ms-xxl-2 flex-shrink-0">
                                           
                                            <div class="text-wrap mb-1 text-xl-center text-xxl-start" >
                                                <!--<span class="badge bg-soft-success text-success">+$20.9k</span>-->
                                                <span class=" color-color1 fs-20 almarenamonolight-type">Today’s <br>
                                                    unconverted leads</span>
                                            </div>
                                            
                                            <h2 class=" gilory-semibold-type fs-40 mb-0 text-xl-center text-xxl-start" data-target="12">{{leads_count.1}}</h2>
                                            
                                        </div>
                                        
                                    </div>


                                </div>
                                
                            </div><!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div><!-- end col -->
                    <div class="col-xl-3   col-md-6 col-sm-6 ">
                        <!-- card -->
                        <div class="card card-h-100 ">
                            <!-- card body -->
                            <div class="card-body py-2">
                                <div class="">
                                    <div class=" d-flex align-items-center  flex-xl-column flex-xxl-row">
                                        <span class=" mb-3 lh-1 d-block flex-shrink-0 " >
                                            <i class="  rounded-circle d-inline-block p-3  " style="background-color: var(--bs-card-bg);">

                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13.5 33H22.5C30 33 33 30 33 22.5V13.5C33 6 30 3 22.5 3H13.5C6 3 3 6 3 13.5V22.5C3 30 6 33 13.5 33Z" stroke="#55CED7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M23.25 27.75C24.9 27.75 26.25 26.4 26.25 24.75V11.25C26.25 9.6 24.9 8.25 23.25 8.25C21.6 8.25 20.25 9.6 20.25 11.25V24.75C20.25 26.4 21.585 27.75 23.25 27.75Z" stroke="#55CED7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.75 27.75C14.4 27.75 15.75 26.4 15.75 24.75V19.5C15.75 17.85 14.4 16.5 12.75 16.5C11.1 16.5 9.75 17.85 9.75 19.5V24.75C9.75 26.4 11.085 27.75 12.75 27.75Z" stroke="#55CED7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    
                                                    
                                                    



                                            </i>
                                        </span>
                                        <div class="ms-3 ms-xl-0 me-1 ms-xxl-2 flex-shrink-0">
                                           
                                            <div class="text-wrap mb-1 text-xl-center text-xxl-start" >
                                                <!--<span class="badge bg-soft-success text-success">+$20.9k</span>-->
                                                <span class=" color-color1 fs-20 almarenamonolight-type">Today’s <br>
                                                    converted leads</span>
                                            </div>
                                            
                                            <h2 class=" gilory-semibold-type fs-40 mb-0 text-xl-center text-xxl-start" data-target="12">{{leads_count.2}}</h2>
                                            
                                        </div>
                                        
                                    </div>


                                </div>
                                
                            </div><!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div><!-- end col -->
                    <div class="col-xl-3    col-md-6 col-sm-6 ">
                        <!-- card -->
                        <div class="card card-h-100 ">
                            <!-- card body -->
                            <div class="card-body py-2">
                                <div class="">
                                    <div class=" d-flex align-items-center  flex-xl-column flex-xxl-row">
                                        <span class=" mb-3 lh-1 d-block flex-shrink-0 " >
                                            <i class="  rounded-circle d-inline-block p-3  " style="background-color: var(--bs-card-bg);">

                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.5 33H31.5" stroke="#FE464B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M8.39996 12.57H6C5.175 12.57 4.5 13.245 4.5 14.07V27C4.5 27.825 5.175 28.5 6 28.5H8.39996C9.22496 28.5 9.89996 27.825 9.89996 27V14.07C9.89996 13.245 9.22496 12.57 8.39996 12.57Z" stroke="#FE464B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M19.1998 7.785H16.7998C15.9748 7.785 15.2998 8.46 15.2998 9.285V27C15.2998 27.825 15.9748 28.5 16.7998 28.5H19.1998C20.0248 28.5 20.6998 27.825 20.6998 27V9.285C20.6998 8.46 20.0248 7.785 19.1998 7.785Z" stroke="#FE464B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M29.9996 3H27.5996C26.7746 3 26.0996 3.675 26.0996 4.5V27C26.0996 27.825 26.7746 28.5 27.5996 28.5H29.9996C30.8246 28.5 31.4996 27.825 31.4996 27V4.5C31.4996 3.675 30.8246 3 29.9996 3Z" stroke="#FE464B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    
                                                    
                                                    



                                            </i>
                                        </span>
                                        <div class="ms-3 ms-xl-0 me-1 ms-xxl-2 flex-shrink-0">
                                           
                                            <div class="text-wrap mb-1 text-xl-center text-xxl-start" >
                                                <!--<span class="badge bg-soft-success text-success">+$20.9k</span>-->
                                                <span class=" color-color1 fs-20 almarenamonolight-type">Total <br>
                                                    unconverted leads</span>
                                            </div>
                                            
                                            <h2 class="  gilory-semibold-type fs-40 mb-0 text-xl-center text-xxl-start" data-target="12">{{leads_count.3}}</h2>
                                            
                                        </div>
                                        
                                    </div>


                                </div>
                                
                            </div><!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div><!-- end col -->
                 
                  

                   


                </div>



                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">Leads</h4>
                                <div class="d-flex flex-no-wrap justify-content-between align-items-start  mb-4">

                                    <p class="gilroymedium-type fs-15 color-color1 mb-0">This page allows you to view details of leads<br>
                                        from website and social sites.</p>
                                        <button type="button" class="btn  btn-lg   btn-success  px-3  gilory-semibold-type flex-grow-0"  onclick="loadAll()">Load all</button>
                                </div>
                                    
                                
                                <div class=" px-1 table-responsive" >
                                    <table id="datatableleads" class="table dt-responsive  nowrap w-100 ">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-id="datepicker-range">Date</th>
                                                <!-- <th >Id</th> -->
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th data-timer="option" class="filterhead" >Email</th>
                                                <!-- <th  data-text="text" class="filterhead">ID</th> -->
                                                <th  data-text="text" class="filterhead">Phone</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">Ticket</th>
                                                <th  data-text="text" class="filterhead">Account</th>
                                                <th  data-text="text" class="filterhead">Country</th>
                                            </tr>
                                        </thead>
    
    
                                        <tbody>
                                      
                                        {%for data in leads_data %}
                                        <tr ondblclick='checkticket("{{data.1}}","{{data.2}}","{{data.4}}")' style="cursor: pointer;">
                                            <td >{{data.0}}</td>
                                            <td>{{data.3}}</td>
                                            <td>{{data.2}}</td>
                                            
                                            <!-- <td>{{data.1}}</td> -->
                                            <td>{{data.4}}</td>
                                            <td>{{data.5}}</td>
                                            <td>{{data.10}}</td>
                                            <td>{{data.11}}</td>
                                            <td>{{data.7}}</td>
                                        </tr>
                                        
                                        {%endfor%}
                                       
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    
    <div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="permission_model">
        <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <!--<h5 class="modal-title fs-21">@title</h5>-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                        
                <div class="modal-body" >
    
    
                    <div data-simplebar style="max-height: 230px;">
    
                         <!--User-->
                    <div class="d-flex align-items-center">
                    
                        <!-- <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm align-self-center">
                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                    J
                                </span>
                            </div>
                        </div> -->
                        <div class="flex-grow-1">
                            <div id="ticket"></div>
                            <br>
                            <h6 class="mb-0">You dont have permission to view this Ticket</h6>
                            <!--<div class="font-size-13 text-muted">
                                <p class="mb-1">It will seem like simplified English.</p>
                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                            </div>-->
                        </div>
                    </div>
                  
                  
    
                    </div>
               
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade  bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-xl d-block"   style="z-index: 10555;">
            <div class="modal-content mb-4">
                <div class="modal-header border-0">
                    <h5 class="modal-title fs-21">Duplicate Phone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                                    
                                                       
                                              
                <div class="modal-body">        
    
                  
                     
                 
    
                     <div class="table-responsive" data-simplebar style="max-height: 352px;">
                         <table class="table mb-0 " id="">
    
                             <thead>
                                 <tr class="almarenamonolight-type fs-14">
                                     <th> </th>
                                     <th> </th>
                                     <th>Name</th>
                                     <th>Ticket</th>
                                     <th>Phone</th>
                                     <th>Phone2</th>                                     
                                     <th>User Name</th>
                                     <th>Email</th>
                                     
                                 </tr>
                             </thead>
                             <tbody class="gilroyregular-type fs-15" >
                             </tbody>
                         </table>
                     </div> 
                 
                 
    
    
                 
                
                    
                </div>
                <div class=" col-md-12" >
       
                    <button type="button" class="btn btn-success" onclick="create_new_ticket()">Create New Ticket</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Close</button>
                  
                </div>
    
                
            </div>
        </div>
    </div>

    <div class="col-12">
     

        <div class="modal fade  bs-example-modal-leads" tabindex="-1" role="dialog" aria-hidden="true" id="duplicate_model"> 
              
               <div class="modal-dialog modal-dialog-centered  modal-xl d-block">
                

            

                   <div class="modal-content">
                    
                       
              
                    <div class="modal-body ">

                        <!--<button class="btn btn-lg btn-info  ms-3" type="submit">Load</button>-->

                      <div class="border rounded-3 px-2 py-2">
                        <div class="modal-header border-0 ">
                            <h5 class="modal-title fs-21 ">Duplicate phone   <a href="" class="btn btn-md btn-success  ms-3" onclick="create_new_ticket()">Create new ticket</a> </h5>
                            
                            <a href="" data-bs-dismiss="modal" aria-label="Close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                                </a>
                        </div>
                     

                        <div class="table-responsive mx-3 my-2" data-simplebar style="max-height: 352px;">
                            <table class="table mb-0 ">

                                <thead>
                                    <tr class="almarenamonolight-type fs-12">
                                        <th>
    
                                                <span>User Name</span>

                                            </div>
                                            </th>
                                        <th>Ticket</th>
                                        <th>Phone1</th>
                                        <th>Phone2</th>
                                        <th>Email</th>
                                        <th>&nbsp;</th>
                                        <th class="text-end">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody class="gilroyregular-type fs-15 text-white" style="vertical-align:middle ;" id="duplicate_body">
                                 







                                </tbody>
                            </table>
                        </div> 

                      </div>
                        
                     
                     


                     
                    
                        
                    </div>

                    
                </div><!-- /.modal-content -->

                  

               </div><!-- /.modal-dialog -->
        </div>
    </div>    
        <!-- /.modal -->

        

    <!-- JAVASCRIPT -->
  
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->demo_id
    <script>

$(function(){
    
    $('#datatableleads tbody').on('dblclick', 'tr', function (e) {
        var table = $("#datatableleads").DataTable();
        console.log("row clicked----")
        var data = table.row( this ).data();
        console.log("dtaaaaaaaaaaa"+data)
        console.log("first data111111111111"+data[2]+data[3])
        demo=document.getElementById("id_demo"+data[0]).value
        console.log("dynamic demo idddddddddddddddd",demo)
        checkticket(demo,data[2],data[3])
    })
})


        function checkticket(demo_id,lead_email,lead_phone){
          console.log("check list clicked---------------------")
            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:Duplicate' %}",
               dataType: 'json',
               data: {
                'phone':lead_phone,
                'email':lead_email
               },
               
               success: function(data){
                console.log(data)
                if(data.success){
                    // $("#duplicate_model tbody").empty();
                    var element=data.duplicate;
                    
                    var duplicate_data=new Array();

                    var duplicates="<tr><th scope='row'><div class='d-flex my-1 ms-2 align-items-center'><div class='activity-icon avatar-sm me-3'><span class='avatar-title   rounded-circle'>"+
                        "<img class='rounded-circle avatar-md' src='../static/images/users/"+element[4]+".png' onerror=this.src='../static/images/users/user.png'  >"+
                        "</span></div>"+element[4]+"</th><td>"+element[1]+"</td><td>"+element[2]+"</td><td>"+element[3]+"</td><td>"+element[5]+"</td>"+
                        "<td  class='text-success'><a  style='color:rgba(114, 212, 171, 1); cursor: pointer' onclick=viewticket('"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View ticket</a></td><td class='text-end'>"+
                            "<a style='color:rgba(85, 206, 215, 1) ; cursor: pointer' onClick=merge('"+demo_id+"','"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View n merge</a></td></tr>";
                   
                    console.log("duplicate rows created")
                    
                    // var duplicate="<tr><th scope='row'><td><button class='btn btn-primary btn-md mt-3' onclick=viewticket('"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View Ticket</button></th><td><button class='btn btn-primary btn-md mt-3' onClick=merge('"+demo_id+"','"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View and Merge</button></td><td>"+
                    //             element[0]+"</td><td>"+element[1]+"</td><td>"+element[2]+"</td><td>"+element[3]+"</td><td>"+element[4]+"</td><td class='text-end'>"+element[5]+"</td></tr>";                            
                    var hidden_name="<input type='hidden' name='name' id='ticket_name' value='"+element[0]+"'><input type='hidden' name='demoid' value='"+demo_id+"' id='demo_id'>";
                   
                    $("#duplicate_body").append(duplicates)
                    $("#duplicate_body").append(hidden_name)   
                   $("#duplicate_model").modal('show');
                    }
                else{
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url
                }
               }
            })



        }
        
        function viewticket(ticket,phone1,phone2,email){
            var tick_name=document.getElementById("ticket_name").value
            
            var url="{% url 'Admin:LeadProcessing'%}"
            window.location.href=url+"?&ticket="+ticket+"&email1="+email+"&email2=''&mobile="+phone1+"&telephone="+phone2
        }
        function merge(demo_id,ticket,phone1,phone2,email){
            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:ViewMerge' %}",
               dataType: 'json',
               data: {
                'demoid':demo_id,
                'ticket':ticket,
                'email1':email,
                'email2':'',
                'mobile':phone1,
                'telephone':phone2
               },
               
               success: function(data){
                    
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url+"?&ticket="+ticket+"&email1="+email+"&email2=''&mobile="+phone1+"&telephone="+phone2
               }
            });
           
        }

        function create_new_ticket(){
            var demo_id=document.getElementById("demo_id").value
            

            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:CreateTicket' %}",
               dataType: 'json',
               data: {
              'id':demo_id                
               },
               
               success: function(data){
                
                if(data.success){
                    email=data.email
                    phone=data.phone
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url+"?&email1="+email+"&email2=''&mobile="+phone

                }
               }
            })

        }



        function loadAll(){

            $('#datatableleads').dataTable().fnClearTable();
            $('#datatableleads').dataTable().fnDestroy();
            $("#datatableleads").DataTable({
                // 'processing' : true,
                "language": {
                                    'loadingRecords': "<span class='fa-stack fa-lg'>\n\
                            <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                       </span>&emsp;Loading Details ...",
                                },
                
                "paging":true,   
                // "pagingType":"simple",            
                "ajax":{
                   url: "{% url 'Admin:LoadAll' %}",
                  dataSrc:function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                         items[i] =[json_data[i][0],json_data[i][3],json_data[i][2],json_data[i][4],json_data[i][5],json_data[i][10],json_data[i][11],json_data[i][7]+"<input type='hidden' name='id' id='id_demo"+json_data[i][0]+"' value='"+json_data[i][1]+"'>"]; 
                        
                            
                        }
                        
                        return items;
                   }
     
                },
                responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                
  
                
               
            });

        }
        // function load_data(){
        //     $('#datatableleads').dataTable().fnClearTable();
        //     $('#datatableleads').dataTable().fnDestroy();

        //    var row;
        //     $.ajax({
        //        type : "GET", 
        //        url: "{% url 'Admin:LoadAll' %}",
                         
               
        //        success: function(json_data){
                
        //         console.log("Suces------------------------------------------------",typeof(json_data))
        //         console.log("Load ajax data"+json_data[0][0]);   
        //         var grouptable=$('#datatableleads').dataTable();

        //         $.each(json_data,function(key,value){
        //             console.log("Value is---------------------------"+value)
        //         })


        //         // for ( var i=0,k=1, ien=json_data.length ; i<ien ; i++ ) {
        //         //     console.log("for loop------")

           
        //         //     grouptable.fnAddData([
                  
        //         //     "<tr><td >"+json_data[i][0]+"</td>"+"<td>"+json_data[i][1]+"</td><td>"+json_data[i][2]+"</td><td>"+json_data[i][3]+"</td><td>"+json_data[i][4]+"</td><td>"+
        //         //                             json_data[i][5]+"</td>"                  
                                  
        //         //     ])
                       
        //         // k++;
                
        //         // }
                
                
                
                   
          
        //        }
        //     })

        // }




    </script>
    
    <!-- Required datatable js -->
    <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables-filtercolumn-leads.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>