<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Leads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->
     <!-- datepicker css -->
     <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}
    <!-- DataTables -->
  
    

 
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
    

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">Leads</h4>
                                <div class="d-flex flex-no-wrap justify-content-between align-items-start  mb-4">

                                    <p class="gilroymedium-type fs-15 color-color1 mb-0">This page allows you to view details of leads<br>
                                        from website and social sites.</p>
                                        <button type="button" class="btn  btn-lg   btn-success  px-3  gilory-semibold-type flex-grow-0"  onclick="loadAll()">Load all</button>
                                </div>
                                    
                                
                                <div class=" px-1 table-responsive" >
                                    <table id="datatableleads" class="table dt-responsive  nowrap w-100 ">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-id="datepicker-range">Date</th>
                                                <!-- <th >Id</th> -->
                                                <th data-timer="option" class="filterhead" >Email</th>
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th  data-text="text" class="filterhead">Phone</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead text-end">Country</th>
                                            </tr>
                                        </thead>
    
    
                                        <tbody>
                                      
                                        {%for data in leads_data %}
                                        <tr ondblclick='checkticket("{{data.1}}","{{data.2}}","{{data.4}}")' style="cursor: pointer;">
                                            <td >{{data.0}}</td>
                                            <!-- <td>{{data.1}}</td> -->
                                            <td>{{data.2}}</td>
                                            <td>{{data.3}}</td>
                                            <td>{{data.4}}</td>
                                            <td>{{data.5}}</td>
                                            <td>{{data.7}}</td>
                                        </tr>
                                        
                                        {%endfor%}
                                       
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    
    <div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="permission_model">
        <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <!--<h5 class="modal-title fs-21">@title</h5>-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                        
                <div class="modal-body" >
    
    
                    <div data-simplebar style="max-height: 230px;">
    
                         <!--User-->
                    <div class="d-flex align-items-center">
                    
                        <!-- <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm align-self-center">
                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                    J
                                </span>
                            </div>
                        </div> -->
                        <div class="flex-grow-1">
                            <div id="ticket"></div>
                            <br>
                            <h6 class="mb-0">You dont have permission to view this Ticket</h6>
                            <!--<div class="font-size-13 text-muted">
                                <p class="mb-1">It will seem like simplified English.</p>
                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                            </div>-->
                        </div>
                    </div>
                  
                  
    
                    </div>
               
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade  bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="duplicate_model">
        <div class="modal-dialog modal-dialog-centered modal-xl d-block"   style="z-index: 10555;">
            <div class="modal-content mb-4">
                <div class="modal-header border-0">
                    <h5 class="modal-title fs-21">Duplicate Phone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                                    
                                                       
                                              
                <div class="modal-body">        
    
                  
                     
                 
    
                     <div class="table-responsive" data-simplebar style="max-height: 352px;">
                         <table class="table mb-0 " id="">
    
                             <thead>
                                 <tr class="almarenamonolight-type fs-14">
                                     <th> </th>
                                     <th> </th>
                                     <th>Name</th>
                                     <th>Ticket</th>
                                     <th>Phone</th>
                                     <th>Phone2</th>                                     
                                     <th>User Name</th>
                                     <th class="text-end">Email</th>
                                     
                                 </tr>
                             </thead>
                             <tbody class="gilroyregular-type fs-15" id="duplicate_body">
                             </tbody>
                         </table>
                     </div> 
                 
                 
    
    
                 
                
                    
                </div>
                <div class=" col-md-12" >
       
                    <button type="button" class="btn btn-success" onclick="create_new_ticket()">Create New Ticket</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Close</button>
                  
                </div>
    
                
            </div>
        </div>
    </div>



    <!-- JAVASCRIPT -->
  
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
    <script>
        function checkticket(demo_id,lead_email,lead_phone){
          
            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:Duplicate' %}",
               dataType: 'json',
               data: {
                'phone':lead_phone,
                'email':lead_email
               },
               
               success: function(data){
                console.log(data)
                if(data.success){
                    $("#duplicate_model tbody").empty();
                    var element=data.duplicate;
                    
                    var duplicate_data=new Array();
                   
                    
                    
                    var duplicates="<tr><th scope='row'><td><button class='btn btn-primary btn-md mt-3' onclick=viewticket('"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View Ticket</button></th><td><button class='btn btn-primary btn-md mt-3' onClick=merge('"+demo_id+"','"+element[1]+"','"+element[2]+"','"+element[3]+"','"+element[5]+"')>View and Merge</button></td><td>"+
                                element[0]+"</td><td>"+element[1]+"</td><td>"+element[2]+"</td><td>"+element[3]+"</td><td>"+element[4]+"</td><td class='text-end'>"+element[5]+"</td></tr>";                            
                    var hidden_name="<input type='hidden' name='name' id='ticket_name' value='"+element[0]+"'><input type='hidden' name='demoid' value='"+demo_id+"' id='demo_id'>";
                   
                    $("#duplicate_body").append(duplicates)
                    $("#duplicate_body").append(hidden_name)   
                        $("#duplicate_model").modal('show');
                }
                else{
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url
                }
               }
            })



        }
        
        function viewticket(ticket,phone1,phone2,email){
            var tick_name=document.getElementById("ticket_name").value
            
            var url="{% url 'Admin:LeadProcessing'%}"
            window.location.href=url+"?&ticket="+ticket+"&email1="+email+"&email2=''&mobile="+phone1+"&telephone="+phone2
        }
        function merge(demo_id,ticket,phone1,phone2,email){
            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:ViewMerge' %}",
               dataType: 'json',
               data: {
                'demoid':demo_id,
                'ticket':ticket,
                'email1':email,
                'email2':'',
                'mobile':phone1,
                'telephone':phone2
               },
               
               success: function(data){
                    
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url+"?&ticket="+ticket+"&email1="+email+"&email2=''&mobile="+phone1+"&telephone="+phone2
               }
            });
           
        }

        function create_new_ticket(){
            var demo_id=document.getElementById("demo_id").value
            

            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:CreateTicket' %}",
               dataType: 'json',
               data: {
              'id':demo_id                
               },
               
               success: function(data){
                
                if(data.success){
                    email=data.email
                    phone=data.phone
                    var url="{% url 'Admin:LeadProcessing'%}"
                    window.location.href=url+"?&email1="+email+"&email2=''&mobile="+phone

                }
               }
            })

        }



        function loadAll(){

            $('#datatableleads').dataTable().fnClearTable();
            $('#datatableleads').dataTable().fnDestroy();
            $("#datatableleads").DataTable({
                // 'processing' : true,
                
                "paging":true,               
                "ajax":{
                   url: "{% url 'Admin:LoadAll' %}",
                  dataSrc:function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                        items[i] = [json_data[i][0],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][7]]; 
                            
                        }
                        
                        return items;
                   }
     
                },
                
  
                
               
            });

        }
        function load_data(){

           var row;
            $.ajax({
               type : "GET", 
               url: "{% url 'Admin:LoadAll' %}",
               dataType: 'json',            
               
               success: function(json_data){
                
                console.log("Suces------------------------------------------------",typeof(json_data[0]))
                console.log("Load ajax data"+json_data[0][0]);   
                
                for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

           

                  
                    row+="<tr><td >"+json_data[i][0]+"</td>"+"<td>"+json_data[i][1]+"</td><td>"+json_data[i][2]+"</td><td>"+json_data[i][3]+"</td><td>"+json_data[i][4]+"</td><td>"+
                                            json_data[i][5]+"</td>"                  
                                  


                
                }
                
            $('#datatableleads').dataTable().fnClearTable();
            $('#datatableleads').dataTable().fnDestroy();
                $("#datatableleads").DataTable(row); 
                   
          
               }
            })

        }




    </script>
    
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables-filtercolumn-leads.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>