<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Dashboard | Minia - Minimal Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    {% load  static %}
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}
    <!-- App favicon -->
    

    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->

    <!-- preloader css -->
  
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
  

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card">
                         
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <h4 class="card-title fs-23 almarenamonolight-type">New Lead Registration
                                    </h4>

                                </div>
                           
                            
                                <form class="needs-validation" novalidate method="post" action="{% url 'Admin:LeadSubmit' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="title">Title<span class="color-orange">*</span></label>
                                                <select  class="form-select" id="title"  value="" name="title">
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please provide a valid entry.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="firstname*">Name<span class="color-orange">*</span></label>
                                                <input type="text" class="form-control" id="firstname" placeholder="both name(s) e.g Jon Doe" name="name" value="" required>
                                                <div class="invalid-feedback">
                                                    Please provide a valid name.
                                                </div>
                                            </div>
                                        </div>
                                  
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label" for="email1">Email 1 <span class="color-orange">*</span></label>
                                                    <div class="">


                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="email_unav" name="email_agree">
                                                            <label class="form-check-label fs-12" for="emailUav">Email Unavailable*</label>
                                                            <div class="invalid-feedback fs-10 py-1 " id="email_agree">
                                                                You must agree before submitting.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <input type="email" class="form-control" id="email1" placeholder="Steve@gmail.com" name="email1">
                                                <div class="invalid-feedback">
                                                    Please provide a valid  Email.
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="email2">Email 2</label>
                                                <input type="email" class="form-control" id="email2" placeholder="Steve@gmail.com" name="email2">
                                                <div class="invalid-feedback">
                                                    Please provide a valid  Email.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="age">Age</label>
                                                <input type="number" class="form-control" id="age" placeholder="" name="age" >
                                                <div class="invalid-feedback" id="invalid_age">
                                                    Please provide a valid Age.
                                                </div>
                                            </div>
                                        </div>

                                      

                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="mobile">Mobile<span class="color-orange"></label>

                                                   <!--<input type="tel" id="phone">-->
                                                   



                                                <input type="tel" class="form-control" id="phone" name="mobile">
                                                <input type="hidden" name="mobile_country" id="mobile_country">
                                                <span id="error-msg" class="hide"></span>
                                                <span id="valid-msg" class="hide">✓ Valid</span>
                                                <div class="invalid-feedback" id="invalid_mobile">
                                                    Please provide your mobile number.
                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="profession">Profession*</label>
                                                <input type="tel" class="form-control" id="profession" placeholder="" name="profession">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Subject">Subject</label>
                                                <input type="tel" class="form-control" id="Subject" placeholder="" name="subject">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Source">Source</label>
                                                <input type="text" class="form-control" id="Source" placeholder="" value="{{source}}" name="source" disabled>
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="State*">State</label>
                                                <input type="text" class="form-control" id="State" placeholder="" name="state">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Address">Address</label>
                                                <input type="text" class="form-control" id="Address" placeholder="" name="address">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="City">City</label>
                                                <input type="text" class="form-control" id="City" placeholder="" name="city">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="Zipcode">Zip code</label>
                                                <input type="text" class="form-control" id="Zipcode" placeholder="" name="zipcode">
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="mb-3">
                                                <label class="form-label" for="phone2">Telephone</label>
                                                <!--<input type="tel" class="form-control" id="Telephone" placeholder="e.g + 971 553 445 22" >-->

                                                <input type="tel" class="form-control" id="phone2" name="telephone">
                                                <input type="hidden" name="tel_country" id="tel_country">
                                                <span id="error-msg2" class="hide"></span>
                                                <span id="valid-msg2" class="hide">✓ Valid</span>
                                                <div class="invalid-feedback">
                                                    
                                                   
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please provide a Profession.
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="invalidCheck" required>
                                                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                                                    <div class="invalid-feedback">
                                                        You must agree before submitting.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <button class="btn btn-primary btn-lg mt-3" type="submit">Submit form</button>
                                </form>
                            </div>
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
  
    <!-- form validation -->
    <script src="{% static 'js/pages/data.init.js' %}"></script> 
    <script src="{% static 'js/pages/intTellinput.init.js' %}"></script>   
    <script src="{% static 'js/pages/utils.init.js' %}"></script>  


    <!-- form validation -->
    <script src="{% static 'js/pages/form-validation-lead.init.js' %}"></script>    
    <!-- <script src="{% static 'js/pages/lead-registration-validation.js' %}"></script>  -->
    <!-- <script src="{% static 'js/pages/form-validation.init.js' %}"></script>     -->

    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>