<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    {% load  static %}
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->
     <!-- datepicker css -->
     <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    {% include "common/link.html" %}
    
    {% include "common/scripts.html" %}
    
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
        {% include "common/header.html" %}
        
    
        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        
        <div class="page-content" id="sales">
            <div class="container-fluid"> <!--container-fluid px-md-5 me-md5-->

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 fs-23 almarenamonolight-type">New Accounts</h4><!--font-size-18-->

                            <!--<div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">New Accounts</li>
                                </ol>
                            </div>-->

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <!--<h4 class="card-title almarenamonolight-type mb-4 fs-23">Leads</h4>
                                <p class="gilroymedium-type fs-15 color-spanishgray">This page allows you to view details of leads<br>
                                    from website and social sites.</p>-->
                                <div class=" d-flex justify-content-between align-items-start">
                                    <div>
                                        <button type="button" class="btn btn-lg btn-primary   mb-3  mx-1 gilory-semibold-type bg-soft-purple text-white"  style="background-color: var(--bs-card-bg) ;" onclick="addColor(this,'bg-soft-purple text-white', 'color-color1');changeAccount('Live');switchtab(this,'#accounts_table','#rejected_table','#terminated_table','#closed_table')">Live</button>
                                        <button type="button" class="btn btn-lg btn-primary  color-color1 mb-3 mx-1 gilory-semibold-type"  style="background-color: var(--bs-card-bg); "  onclick="addColor(this,'bg-soft-purple text-white', 'color-color1');changeAccount('Pending');switchtab(this,'#accounts_table','#rejected_table','#terminated_table','#closed_table')">Pending</button>
                                        <button type="button" class="btn btn-lg btn-primary  color-color1 mb-3 mx-1 gilory-semibold-type"  style="background-color: var(--bs-card-bg) ;" onclick="addColor(this,'bg-soft-purple text-white','color-color1'); changeAccount('Rejected');switchtab(this,'#rejected_table','#accounts_table','#terminated_table','#closed_table')">Rejected</button>
                                        <button type="button" class="btn btn-lg btn-primary  color-color1 mb-3 mx-1 gilory-semibold-type"  style="background-color: var(--bs-card-bg) ;"  onclick="addColor(this,'bg-soft-purple text-white','color-color1');changeAccount('Terminated');switchtab(this,'#terminated_table','#rejected_table','#accounts_table','#closed_table')">Terminated</button>
                                        <button type="button" class="btn btn-lg btn-primary  color-color1 mb-3 mx-1 gilory-semibold-type"  style="background-color: var(--bs-card-bg) ;"  onclick="addColor(this,'bg-soft-purple text-white','color-color1');changeAccount('Closed');switchtab(this,'#closed_table','#accounts_table','#terminated_table','#rejected_table')">Closed</button>
                                    </div>
                                    <button type="button" class="btn  btn-lg   btn-success  px-3 py-1 gilory-semibold-type" onclick="changeAccount('loadall')">Load all</button>
                                    
                                </div>

                                <div class="mb-4 mt-3 ">

                                    <ul class="gilory-medium-type list-unstyled color-color1 fs-18 d-flex ">

                                        <li > <span class="rounded-circle  bg-danger d-inline-block me-1 "  style="height:13px ;width:13px"></span><span>Funded</span> | <span class="text-white">15</span></li>
                                        <li class="ms-5"> <span class="rounded-circle  bg-info d-inline-block me-1" style="height:13px ;width:13px"></span> <span>Non Funded </span> | <span class="text-white">15</span></li>
                                    </ul>
                                </div>

                                <hr class="my-0">
                                
                                <div class=" px-1 table-responsive mt-4 d-block" id="accounts_table">
                                    <table id="datatableleads" class="table dt-responsive  nowrap  w-100">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-text="text" class="filterhead">Promo</th>
                                                <th data-id="datepicker-range" class="filterhead">RegDate</th>
                                                <th  data-timer="option" class="filterhead">Login</th>
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th  data-text="text" class="filterhead">Email</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">SalesRep</th>
                                                <th  data-text="text" class="filterhead">Ticket</th>
                                                <th  data-text="text" class="filterhead text-end">Country</th>
                                            </tr>
                                        </thead>


                                        <tbody id="newaccounts_data">
                                            {%for data in accounts_data %}   
                                        <tr>
                                            <td>{{data.0}} </td>
                                            <td>{{data.1}}</td>
                                            <td>{{data.2}}</td>
                                            <td>{{data.3}}</td>
                                            <td>{{data.4}}</td>
                                            <td>{{data.5}}</td>
                                            <td>{{data.6}}</td>
                                            <td>{{data.9}}</td>
                                            
                                            <td class="text-end">{{data.8}}</td>
                                        </tr>
                                            {%endfor%}
                                        
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                <div class=" px-1 table-responsive mt-4 d-none" id="rejected_table">
                                    <table id="datatableleads2" class="table dt-responsive  nowrap  w-100">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-text="text" class="filterhead">Promo</th>
                                                <th  data-text="text" class="filterhead">Subscribe</th>
                                                <th data-id="datepicker-range" class="filterhead">RegDate</th>
                                                <th  data-text="text" class="filterhead">Rejectd</th>
                                                <th  data-timer="option" class="filterhead">Login</th>
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th  data-text="text" class="filterhead">Email</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">Currency</th>
                                                <th  data-text="text" class="filterhead">Country</th>                                                
                                                <th  data-text="text" class="filterhead">Ticket</th>
                                                <th  data-text="text" class="filterhead text-end">IP</th>
                                            </tr>
                                        </thead>


                                        <tbody id="newaccounts_data">
                                      
                                        
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                <div class=" px-1 table-responsive mt-4 d-none" id="terminated_table">
                                    <table id="datatableleads3" class="table dt-responsive  nowrap  w-100">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-text="text" class="filterhead">Promo</th>
                                                <th  data-text="text" class="filterhead">Subscribe</th>
                                                <th data-id="datepicker-range" class="filterhead">RegDate</th>
                                                <th  data-text="text" class="filterhead">Terminated</th>
                                                <th  data-timer="option" class="filterhead">Login</th>
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th  data-text="text" class="filterhead">Email</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">Currency</th>
                                                <th  data-text="text" class="filterhead">Country</th>
                                                <th  data-text="text" class="filterhead">Ticket</th>
                                                <th  data-text="text" class="filterhead text-end">IP</th>
                                            </tr>
                                        </thead>


                                        <tbody id="newaccounts_data">
                                      
                                        
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                <div class=" px-1 table-responsive mt-4 d-none" id="closed_table">
                                    <table id="datatableleads4" class="table dt-responsive  nowrap  w-100">
                                        <thead>
                                            <tr  class=" ">
                                                <th  data-text="text" class="filterhead">Promo</th>
                                                <th  data-text="text" class="filterhead">Subscribe</th>
                                                <th data-id="datepicker-range" class="filterhead">RegDate</th>
                                                <th  data-text="text" class="filterhead">Closed</th>
                                                <th  data-text="text" class="filterhead">Closed By</th>
                                                <th  data-timer="option" class="filterhead">Login</th>
                                                <th  data-text="text" class="filterhead">Name</th>
                                                <th  data-text="text" class="filterhead">Email</th>
                                                <th  data-text="text" class="filterhead">Source</th>
                                                <th  data-text="text" class="filterhead">Currency</th>
                                                <th  data-text="text" class="filterhead">Country</th>
                                                <th  data-text="text" class="filterhead">Ticket</th>
                                                <th  data-text="text" class="filterhead text-end">IP</th>
                                            </tr>
                                        </thead>


                                        <tbody id="newaccounts_data">
                                      
                                        
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>

                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
 {% include "common/right-sidebar.html" %}
 <div class="rightbar-overlay"></div>
    <script>


        
            function changeAccount(change){
                console.log("Onclick change----------------------"+change)
                if(change=="Rejected"){
                    rejectedAccount(change);
                }
                if(change=="Closed"){
                    closedAccount(change)
                }
                if(change=="Terminated"){
                    terminateAccount(change)
                }
                if(change=="Live" || change =="Pending" || change =="All"){
                    liveAccount(change)
                }                
                

            }
            function rejectedAccount(change){
                
            $('#datatableleads2').dataTable().fnClearTable();
                $('#datatableleads2').dataTable().fnDestroy();
            
                $("#datatableleads2").DataTable({
                // 'processing' : true,
                
                'paging':true,               
                'ajax':{
                   "url": "{% url 'Admin:NewAccounts' %}",
                   "type": "GET",
                   "data":{
                    "change":change,
                   },
                   "dataSrc":function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                        items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][6],json_data[i][7],json_data[i][8],json_data[i][9],json_data[i][10],json_data[i][11],json_data[i][12]]; 
                            
                        }
                        
                        return items;
                   }
                },
                responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                
               
            });     
            
        }



        function closedAccount(change){
            $('#datatableleads4').dataTable().fnClearTable();
                $('#datatableleads4').dataTable().fnDestroy();
                $("#datatableleads4").DataTable({
                // 'processing' : true,
                
                'paging':true,               
                'ajax':{
                   "url": "{% url 'Admin:NewAccounts' %}",
                   "type": "GET",
                   "data":{
                    "change":change,
                   },
                   "dataSrc":function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                        items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][6],json_data[i][7],json_data[i][8],json_data[i][9],json_data[i][10],json_data[i][11]]; 
                            
                        }
                        
                        return items;
                   }
                },
                responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                
               
            });     
            
           
        }    
        function terminateAccount(change){

            $('#datatableleads3').dataTable().fnClearTable();
                $('#datatableleads3').dataTable().fnDestroy();
                $("#datatableleads3").DataTable({
                // 'processing' : true,
                
                'paging':true,               
                'ajax':{
                   "url": "{% url 'Admin:NewAccounts' %}",
                   "type": "GET",
                   "data":{
                    "change":change,
                   },
                   "dataSrc":function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                        items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][6],json_data[i][7],json_data[i][8],json_data[i][9],json_data[i][10],json_data[i][11]]; 
                            
                        }
                        
                        return items;
                   }
                },
                responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                
               
            });     
            
           
        }    
        function liveAccount(change){
            $('#datatableleads').dataTable().fnClearTable();
                $('#datatableleads').dataTable().fnDestroy();
                $("#datatableleads").DataTable({
                // 'processing' : true,
                
                'paging':true,               
                'ajax':{
                   "url": "{% url 'Admin:NewAccounts' %}",
                   "type": "GET",
                   "data":{
                    "change":change,
                   },
                   "dataSrc":function(json_data){
                    
               
                    var items = [];
                    for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                        items[i] = [json_data[i][0],json_data[i][1],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][6],json_data[i][9],json_data[i][8]]; 
                            
                        }
                        
                        return items;
                   }
                },
                responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },
                
               
            });     
            
           
        }

        function datatableSearch(){
            var minDate,maxDate;

    
    // Setup - add a text input to each footer cell
  
 
    var table = $('#datatableleads').DataTable({
        //"dom": "lfprti",
        responsive: true,
        orderCellsTop: true,  

       
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                
                .each(function (colIdx) {
                   
                    // Set the header cell to contain the input element
                  
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var id = $(cell).attr('data-id');
                    
                    $(cell).html('<input type="text" id="'+id+'" placeholder="' + title + '"  class="fs-14"   />');
                    
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {

                            console.log($(this).attr('id'));

                            if($(this).attr('id')=='datepicker-range'){
                                
                                api
                                .column(colIdx)
                                .search(
                                        function( data, colIdx ) {
                                            //var min = minDate;
                                            // var max = maxDate;
                                            // console.log(min);
                                                //date = new Date( colIdx[0] );
                                            var min = minDate;
                                            var max = maxDate;
                                            var date = new Date(data[0]);
                                            

                                            //colIdx
                                     
                                            if (
                                                ( min === null && max === null ) ||
                                                ( min === null && date <= max ) ||
                                                ( min <= date   && max === null ) ||
                                                ( min <= date   && date <= max )
                                            ) {
                                                return true;
                                                console.log('searching-date-start' +min  );
                                                console.log('searching-date-endt' +max  );
                                            }
                                            return false;
                                            console.log('searching-date-start' +min  );
                                            console.log('searching-date-endt' +max  );
                                        }
                                    
                                ).draw();
                               

                                
                            }
                            else{

                                    // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();


                            }
                            
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
                
        },

    
    });
        }
    </script>    

    <script src="{%static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <!-- Required datatable js -->
    <script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>


    <!-- Responsive examples -->
       <!---Commmented Now Later might needed
 
    <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
       -->  

    <!-- Datatable init js -->
    <script src="{%static 'js/pages/datatables-filtercolumn-nwaccountsales.init.js' %}"></script> 

    <!-- init js -->
    <!--<script src="assets/js/pages/form-advancedcustom.init.js"></script>-->

    <script src="{%static 'js/app.js' %}"></script>

    </body>

    </html>