<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Dashboard | Minia - Minimal Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- plugin css -->
    <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />-->
     <!-- datepicker css -->
     <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">

 
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include "common/header.html" %}
    

    <!-- ========== Left Sidebar Start ========== -->
    {% include "common/sidebar.html" %}
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container"> <!--container-fluid px-md-5 me-md5-->

                
                <!--Analytics overview-->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                           
                            <div class="card-body ">
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">SALES TICKETS</h4>
                                <p class="gilroymedium-type fs-15 color-spanishgray">This page allows you to view the Sales Inquiries assigned to you and the inquiries that are not assigned.
                                   </p>
                                
                                <div class=" px-1">
                                    <table id="datatableleads" class="table dt-responsive  nowrap w-100 ">
                                        <thead>
                                            <tr  class="bg-soft-carlestongreen ">
                                                <th >Date</th>
                                                <!-- <th >Id</th> -->
                                                
                                                <th  >Name</th>
                                                <!-- <th  >Email</th> -->
                                                <th  >Phone</th>
                                                <th  >Source</th>
                                                <th  class="text-end">Country</th>
                                            </tr>
                                        </thead>
    
    
                                        <tbody>
                                        <!-- <tr>
                                            <th  data-type="text">Date</th>
                                            <th  data-type="text">Id</th>
                                            <th  data-type="text">Email</th>
                                            <th data-type="text" >Name</th>
                                            <th  data-type="text">Phone/th>
                                            <th  data-type="text" >Source</th>
                                            <th  data-type="text" >Country</th>
                                        </tr>    -->
                                        {%for data in resolved_tickets %}
                                        <tr ondblclick='checkticket("{{data.2}}","{{data.4}}")' style="cursor: pointer;">
                                            <td >{{data.0}}</td>
                                            <!-- <td>{{data.1}}</td> -->
                                            <td>{{data.2}}</td>
                                            <!-- <td>{{data.3}}</td> -->
                                            <td>{{data.3}}</td>
                                            <td>{{data.6}}</td>
                                            <td>{{data.5}}</td>
                                        </tr>
                                        
                                        {%endfor%}
                                       
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                    </div> <!-- end col -->



                </div>
                <!-- end row-->

                </div>
                <!-- container -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    
    {% include "common/right-sidebar.html" %}

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
  
  

    <!-- Plugins js-->
    <!--<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- dashboard init -->
    <script>
        function checkticket(lead_email,lead_phone){
            console.log("Double clicked")
            
            console.log("email----lead"+lead_email)
            
            console.log("email----lead"+lead_phone)
        }
        function loadAll(){

                $('#datatableleads').dataTable().fnClearTable();
                $('#datatableleads').dataTable().fnDestroy();
                $("#datatableleads").DataTable({
                    // 'processing' : true,
                    
                    'paging':true,               
                    'ajax':{
                    "url": "{% url 'Admin:LoadAll' %}",
                    "dataSrc":function(json_data){
                        

                        var items = [];
                        for ( var i=0, ien=json_data.length ; i<ien ; i++ ) {

                            items[i] = [json_data[i][0],json_data[i][2],json_data[i][3],json_data[i][4],json_data[i][5],json_data[i][7]]; 
                                
                            }
                            console.log(items);
                            return items;
                    }
                    },
                    

                });
        }
    </script>
    
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables-filtercolumn-leads.init.js' %}"></script> 
    <script src="{% static 'js/app.js' %}"></script>

    </body>

    </html>