<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" lang="ar">
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
      
      <link href="{% static 'css/input-tel.min.css' %}" rel="stylesheet"   type="text/css" />
    {% include "common/link.html" %}
    <style>
        table td .dropdown-menu.show{
                right: 0px;
        left: auto;
        transform: none;
        display: flex;
        }
    </style>
    {% include "common/scripts.html" %}
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <div class="main-content">

            <div class="page-content" id="sales">
                <div class="container-fluid">
                    <!--container-fluid px-md-5 me-md5-->

                    
                
            

                    <!--row0-->
                    <div class="row">

                        <div class="col-xxl-5  col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center mb-4">
                                        <h5 class="card-title me-2 almarenamonolight-type fs-21">Live Accounts</h5>

                                    </div>
                                    <div class="row align-items-center">

                                        <div class="col-xxl-6 col-xl-6  col-md-12 mb-4 mb-xl-0 pe-xxl-5">

                                            <div class="d-flex mb-2">
                                                <svg width="21" height="21" class="me-2"  viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM15.9689 10.8434C15.9689 11.2705 15.6147 11.6247 15.1877 11.6247C14.7606 11.6247 14.4064 11.2705 14.4064 10.8434V7.69759L6.36475 15.7393C6.2085 15.8955 6.01058 15.9684 5.81266 15.9684C5.61475 15.9684 5.41683 15.8955 5.26058 15.7393C4.9585 15.4372 4.9585 14.9372 5.26058 14.6351L13.3022 6.59342H10.1564C9.72933 6.59342 9.37516 6.23926 9.37516 5.81217C9.37516 5.38509 9.72933 5.03092 10.1564 5.03092H15.1877C15.6147 5.03092 15.9689 5.38509 15.9689 5.81217V10.8434Z" fill="#00A651"/>
                                                </svg>
                                                <h5 class=" gilory-medium-type fs-18">Funded</h5>

                                            </div>

                                            <div class="d-flex w-100 justify-content-between">
                                                <a href="{% url 'Admin:AccountsFilter' %}?&change=Funded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center mb-lg-2">Today <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if funded_today < 9 %} 0{{funded_today}}{%else%}{{funded_today}}{%endif%}</span></p></a>
                                                <a href="{% url 'Admin:WeeklyFilter' %}?&change=Funded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if funded_week < 9 %} 0{{funded_week}}{%else%}{{funded_week}}{%endif%}</span></p></a>

                                            </div>
                                            
                                                
                                            



                                        </div>
                                        <div class="col-xxl-6 col-xl-6  col-md-12 ps-xxl-5">

                                            <div class="d-flex mb-2">
                                                <svg width="21" height="21"  class="me-2" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.5002 0.0830078C4.75016 0.0830078 0.0834961 4.74967 0.0834961 10.4997C0.0834961 16.2497 4.75016 20.9163 10.5002 20.9163C16.2502 20.9163 20.9168 16.2497 20.9168 10.4997C20.9168 4.74967 16.2502 0.0830078 10.5002 0.0830078ZM16.2606 5.84343L8.21891 13.8851H11.3647C11.7918 13.8851 12.146 14.2393 12.146 14.6663C12.146 15.0934 11.7918 15.4476 11.3647 15.4476H6.3335C5.90641 15.4476 5.55225 15.0934 5.55225 14.6663V9.63509C5.55225 9.20801 5.90641 8.85384 6.3335 8.85384C6.76058 8.85384 7.11475 9.20801 7.11475 9.63509V12.7809L15.1564 4.73926C15.3127 4.58301 15.5106 4.51009 15.7085 4.51009C15.9064 4.51009 16.1043 4.58301 16.2606 4.73926C16.5627 5.04134 16.5627 5.54134 16.2606 5.84343Z" fill="#FF0001"/>
                                                    </svg>
                                                    
                                                <h5 class=" gilory-medium-type fs-18">Non Funded</h5>

                                            </div>

                                            <div class="d-flex w-100 justify-content-between">
                                                <a href="{% url 'Admin:AccountsFilter' %}?&change=NonFunded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-red me-2 text-xl-center ">Today <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(238, 110, 110, 0.2) ;">{%if nonfunded_today < 9 %} 0{{nonfunded_today}}{%else%}{{nonfunded_today}}{%endif%}</span></p><a href="{% url 'Admin:AccountsFilter' %}?&change=NonFunded"></a>
                                                <a href="{% url 'Admin:WeeklyFilter' %}?&change=NonFunded"><p class=" gilory-semibold-type color-color1 fs-16 m-0 text-green text-xl-center">This week  <span class="badge  rounded-pill  p-2 fs-11 ms-2" style="background-color:rgba(38, 171, 95, 0.2) ;">{%if nonfunded_week < 9 %} 0{{nonfunded_week}}{%else%}{{nonfunded_week}}{%endif%}</span></p></a>

                                            </div>
                                        


                                        </div>
                                    
                                    



                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->



                        </div>
                      
                        <div class="col-xxl-4 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center mb-4">
                                        <h5 class="card-title me-2 almarenamonolight-type fs-21">Pending Accounts</h5>

                                    </div>
                                    <div class="row align-items-center">

                                        <div class="col-xl-6  mb-2  mb-xl-0 flex-shrink-0 ">

                                            <div class="border-0 rounded-3  p-2 font-size-20  text-center " style="background-color:rgba(28, 29, 52, 1) ;">
                                                
                                                    <h1 class="m-0 gilory-medium-type fs-25 mb-2 m-0">{{approved}}</h1>
                                                    <p class="m-0 color-color1 fs-15">Approved Temporarily</p>
                                            </div>

                                    
                                            
                                                
                                            



                                        </div>
                                        <div class="col-xl-6  flex-shrink-0 ">

                                            <div class="border-0 rounded-3  p-2 font-size-20  text-center " style="background-color:rgba(28, 29, 52, 1) ;">
                                                    <h1 class="m-0 gilory-medium-type fs-25 mb-2 m-0">{{waiting}}</h1>
                                                    <p class="m-0 color-color1 fs-15">Waiting for approval</p>
                                            </div>

                                    
                                            
                                                
                                            



                                        </div>
                                    
                                    
                                    



                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->



                        </div>
                        <div class="col-xxl-3 col-md-12">

                            <div class="row ">

                                <div class="col-xxl-12 ">
                                    
                                    <div class="card card-h-100">


                                        <div class="card-body ">


                                            <div class="d-flex flex-no-wrap align-items-center ">
                                                <h5 class="card-title me-2 almarenamonolight-type fs-21">Complaints Count
                                                </h5>
                                                <div class="ms-auto flex-shrink-0">
                                                    <div class="dropdown d-inline-block">
                                                        <a class="  position-relative " id="live-chats-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                            <span class="badge bg-soft-orange rounded-pill rounded-circle p-2 fs-11">{%if count < 9 %}0{{count}}{%else%}{{count}}{%endif%}</span>
                                                        </a>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="table-responsive" data-simplebar="" style="max-height: 100px ;">
                                                <table class="table mb-0  change  w-100" id="dtpendingcryptoapproval">
        
                                                    <thead class="gilory-medium-type fs-14 color-color1">
                                                        <tr >
                                                            <th class="ps-0">Login</th>
                                                           
                                                            <th class="text-end">Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="gilory-regular-type fs-14 text-white"  >
                                                        {%for crypto in pending_crypto%}
                                                        <tr>
                                                            <td scope="row" class="ps-0">{{crypto.0}}</td>
                                                            
                                                            <td class="text-end">{{crypto.1}}</td>
                                                        </tr>
                                                        {%endfor%}
                                                       
        
                                                    </tbody>
                                                </table>
                                            </div> -->




                                        </div>
                                        
                                    </div>

                                </div>
                            
                            </div>
                        </div>

                        <!-- end row-->
                    
                    </div>

                   
                    <div class="row">
                        
                        <div class="col-xxl-12 col-md-12 ">
                            <div class="card card-h-100">


                                <div class="card-body " id="tasks-div">

                                    <div class="d-flex flex-wrap align-items-center mb-4">
                                        <h5 class="card-title me-2 almarenamonolight-type fs-21">All Complaints</h5>
                                        <div class="ms-auto">

                                            

                                        </div>
                                    </div>
                                    <div class="table-responsive mt-3" data-simplebar="" style="max-height:100%">
                                        {%if complaints %}
                                        <table id="dtpendingtransations" class="table dt-responsive  nowrap  w-100 change">
                                            <thead          class="color-color1">
                                                <tr  class=" gilory-medium-type fs-17 ">
                                                    <th  class="ps-0"> Name</th>
                                                    <th >Email</th>
                                                    <th  >Phone</th>
                                                    <th  >Status</th>
                                                    <th>Description</th>
                                                    <th>Date</th>
                                                    
                                                    <th class="text-end "></th>
                                                    
                                                </tr>
                                            </thead>
    
    
                                            <tbody class="text-white gilory-regular-type fs-16">
                                                {%for complaint in complaints%}
                                                <tr>
                                                   <td class="ps-0">{{complaint.1}}</td>
                                                   <td>{{complaint.2}}</td>
                                                   <td>{{complaint.3}}</td>
                                                   <td>{{complaint.4}}</td>
                                                   <td>{{complaint.5}}</td>
                                                   <td>{{complaint.6}}</td>
                                                   <td>
                                                    <div class='dropdown align-self-start'><a class='dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                                        <i class='bx bx-dots-vertical-rounded'></i></a>
                                                        <div class='dropdown-menu' style='cursor:pointer'>
                                                            <a class='dropdown-item' onclick="viewDetails({{complaint.0}})">View Details</a><a class='dropdown-item' onclick="editcomplaint({{complaint.0}})">
                                                            Edit</a></div></div>
                                                        </td>
                                                
                                                </tr>
                                                {%endfor%}
                                                 
                                              
                                               
                                        
                                            
                                            </tbody>
                                         
                                        </table>
                                        {%else%}
                                                   
                                                    <div class="  text-center  d-block">
                                                        <img src="{% static 'images/nodata/nodata.png' %}" alt="" style="max-height: 80px;">                                                   
                                                        
                    
                                                        <p class="gilory-regular-type fs-20 mt-2">No Transactions</p>
                                                    
                                                    
                                                    </div>
    
                                                {%endif%}
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                      
                   




                    </div>
                   

                
                
                


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->



            
        </div>
        <!-- end main content-->

    </div>
    {% include "common/right-sidebar.html" %}
    
    <!-- Right bar overlay-->
<div class="rightbar-overlay"></div>  

<div class="modal fade" id="view-details" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body ">

                <div class="border-dashed rounded-3 px-3 py-3">
                
                    <div class="modal-header border-0 px-0">
                        <h5 class="modal-title fs-21" id="modal-title">More Details</h5>

                        <a href="" data-bs-dismiss="modal" aria-label="Close">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </a>

                    </div>          
                    <form id="add-card-form" enctype="multipart/form-data">  
                                          
                                        <div class="row">
                        
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Name </label>
                                                        <input type="text" id="name" class="form-control" required  readonly>
                                                        <div id="noname" style="color: red">
                                                        </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Email</label>
                                                        <input type="tel" maxlength="4" id="email"  class="form-control" readonly>
                                                        <div  id="nodigit" style="color: red">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Phone</label>
                                                    <input type="tel" maxlength="4" id="phone"  class="form-control" readonly>
                                                </div>
                                            </div> -->
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Status</label>
                                                    <input type="tel" maxlength="4" id="cmtstatus"  class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Description</label>
                                                    <input type="tel" maxlength="4" id="description"  class="form-control" readonly>    
                                                        
                                                       
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="files" class="form-label w-100 ">Date</label>
                                                    <input type="tel" maxlength="4" id="date"  class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="files" class="form-label w-100 ">Priority</label>
                                                    <input type="tel" maxlength="4" id="priority"  class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="files" class="form-label w-100 ">Modified Date</label>
                                                    <input type="tel" maxlength="4" id="modified"  class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="files" class="form-label w-100 ">Remarks</label>
                                                    <input type="tel" maxlength="4" id="remarks"  class="form-control" readonly>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        
                                        
                    </form>  
                                    
                                
                                    
                </div>
            
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
<div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="alertpopup">
    <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class=" fs-16" id="userMsg">
                    
                </h5>
                <a href="" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </a>
                </div>
                                    
                    <!-- <div class="modal-body" >
        
        
                            <div data-simplebar style="max-height: 230px;">
            
                              
                                
                            </div>
                        </div> -->
           
        </div>
     </div>
    </div>
<div class="modal fade" id="edit-details" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body ">

                <div class="border-dashed rounded-3 px-3 py-3">
                
                    <div class="modal-header border-0 px-0">
                        <h5 class="modal-title fs-21" id="modal-title">Edit Details</h5>

                        <a href="" data-bs-dismiss="modal" aria-label="Close">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </a>

                    </div>          
                    <form>  
                                       
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label w-100 " for="email1">Status</label>
                                                    <select  class="form-select" id="status-update"  value="" required name="assignedto">
                                            
                                                        <option value="Resolved">Resolved</option>
                                                        
                                                        <option value="Followup">Followup</option>
                                                        <option value="ReOpen">ReOpen</option>
                                                        <option value="Pending">Pending</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label" >Remarks</label>
                                                    
                                                    <textarea name="description" id="status-description" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" name="caseid" id="ComplaintId">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary btn-lg my-3 " type="button" onclick="complaintUpdate()">Update</button>
                                            </div>
                                        </div>
                                        
                                        
                    </form>  
                                    
                                
                                    
                </div>
            
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
    <!-- apexcharts -->
    <script>
        function viewDetails(complaintId){
            $.ajax({
                    
                    type : "GET", 
                    url: "{% url 'Admin:ComplianceDetails' %}",
                    dataType: 'json',
                    data:{
                        'id':complaintId,
                       
                    },
                    success: function(data){
                        var more=data.details
                        var newreg
                        var newmodify
                        console.log("Details====",data.details)
                        $("#name").val(more[1])
                        $("#email").val(more[2])
                        $("#phone").val(more[3])
                        $("#cmtstatus").val(more[4])
                        $("#description").val(more[5])
                        var regdate=more[6]
                        if(regdate!=""){
                            newreg=new Date(regdate)
                            newreg=newreg.toISOString().substring(0, 10)
                        }
                        $("#date").val(newreg)
                        $("#priority").val(more[8])
                        var modify=more[9]
                        if(modify!=""){
                            newmodify=new Date(modify)
                            newmodify=newmodify.toISOString().substring(0, 10)
                        }
                        $("#modified").val(newmodify)
                        $("#remarks").val(more[10])
                        $("#view-details").modal('show')
                    }
            })
            
        }
        function editcomplaint(complaintId){
            $("#ComplaintId").val(complaintId)
            $("#edit-details").modal('show')
        }
        function complaintUpdate(){
            $("#edit-details").modal('hide')
            var cmpId=$("#ComplaintId").val()
            var status=$("#status-update").val()
            var desc=$("#status-description").val()
            $.ajax({
                    
                    type : "GET", 
                    url: "{% url 'Admin:ComplianceUpdate' %}",
                    dataType: 'json',
                    data:{
                        'id':cmpId,
                        'status':status,
                       'desc':desc
                    },
                    success: function(data){
                        $('#tasks-div').load(document.URL +  ' #tasks-div')
                        $("#userMsg").empty()
                        $("#userMsg").append(data.message)
                        $("#alertpopup").modal('show')
                        $("#status-description").val("")
                    }
                })
        }
    </script>
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- dashboard init -->
    <script src="{% static 'js/pages/bo-db.init.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>