<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
      <link rel="stylesheet" href="{% static 'libs/flatpickr/plugins/monthSelect/style.css' %}"></link>
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <!-- Left Sidebar End -->
        <div class="main-content">

            <div class="page-content" id="sales">
                <div class="container-fluid">               
                    
                    <div class="row">
    
                        <div class="col-12">
                            <div class="d-flex align-items-center col-4" >
                                <h4 class="card-title almarenamonolight-type mb-4 fs-23">IB Clients  List</h4>
                                
                                
                            </div>
                           
                            <div class="col-6 ">
                                <button class="btn btn-info btn-md mb-2 py-1 noPrint" type="button" id="load-btn-sr" data-bs-toggle="modal" data-bs-target="#monthly-report" >Generate</button>
                                <div class="modal fade" id="monthly-report" tabindex="-1" >
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                
                                            <div class="modal-body ">
                        
                                                <div class="  px-3 border rounded-3 py-4">
                                                
                                                    <div class="modal-header py-0 px-0 border-bottom-0">
                                                        <h5 class="modal-title mb-3" id="modal-title">Monthly Report</h5>
                        
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        
                                                    </div>
                                               
                                                    
                                                        
                                                        <div class="row">
                                                        
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <!--<label class="form-label">Event Name</label>-->
                                                                    <form name="monthform" id="month-form">
                                                                    <input type="text"    class="form-control input" id="monthly" >
                                                                    </form>
                                                                    
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-6">
                                                                        <button type="button"  class="btn btn-success" id="btn-save-event" onclick="loadgenerate()">Generate</button>
                                                                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="btn-delete-event">Cancel</button>
                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                       
                                                        </div>
                                                        
                                                    
                                                </div>
                                            
                                            </div>
                                        </div> <!-- end modal-content-->
                                    </div> <!-- end modal dialog-->
                                </div>
                                <button class="btn btn-info btn-md mb-2 py-1 noPrint" type="button" id="load-btn-sr" onclick="history.back()">Back</button>
                            </div>
                            
                           
                     
                            
                        </div>
                        <div class="col-xxl-9">
                                <div class="row align-items-end mb-4">
                                  
    
                                
                                        <!-- <div class="col-sm-2">
                                            <div class="mb-2">
                                                <label class="form-label " for="Fromdate">From Date</label>
                                                <input type="text" id="Fromdate" class="py-1">
                                                <input type="hidden" name="from" id="fromprint">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
    
                                            <div class="mb-2">
                                                <label class="form-label " for="Todate">To Date</label>
    
                                                <input type="text" id="Todate" class="py-1">
                                                <input type="hidden" name="from" id="toprint">
                                            </div>
    
                                        </div> -->
                                        
                                </div> 
                                <div class="col-xxl-6 col-md-6  mb-2 ">
    
                                    <div class="row ">

                                        <div class="col-md-6 col-xxl-7"> 

                                            <div class="mb-2">

                                                <input type="text" class="form-control  " placeholder="Search" id="myinputsearch1" >
                                            </div>
                                           

                                        </div>
                                        <div class="col-md-6 col-xxl-5 d-flex justify-content-end flex-shrink-0">
                                            <div class="mb-2">
                                                <div id="datatable-buttons_wrapper1">
    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
                    </div>
                    
                    <div class="row">
    
                        <div class="col-12">
                            <div class="card">
                               
                                <div class="card-body ">
                                    
                                    
                                   
                                    
                                    <div class="table-responsive "   data-simplebar="init">
                                        
                                        <table class="table dt-responsive  nowrap  w-100 change" id="datatable" >
    
                                            <thead class="gilory-medium-type fs-16">
                                                <tr>
                                                    <td class=" ps-0"></td>
                                                    <td >RegDate</td>
                                                    <td >Approval Date</td>
                                                    <td >Login</td>
                                                    <td >Name</td>
                                                    <td >Email</td>
                                                    <td >Source</td>
                                                    <td >Ticket</td>
                                                    <td >Country</td>

                                                    <td  >IP</td>
                                                </tr>
                                            </thead>
                                           
                                            <tbody class="gilory-regular-type fs-15 text-white" id="report-body">
                                                {%for first in firsts%} 
                                                <tr>
                                                    <td class="ps-0" style="cursor: pointer;"> <span class="color-green text-decoration-underline" onclick="viewCllient({{first.2}})" >View</span> </td>
                                                    <!-- data-bs-toggle="modal" data-bs-target=".bs-example-modal-show" -->
                                                    <td>{{first.0}}</td> 
                                                    <td>{{first.1}}</td>   
                                                    <td>{{first.2}}</td>
                                                    <td>{{first.3}}</td>
                                                    <td>{{first.4}}</td>
                                                    <td>{{first.5}}</td>
                                                    <td>{{first.6}}</td>
                                                    <td>{{first.7}}</td>
                                                    <td>{{first.8}}</td>
                                                    
                                                </tr>
                                              {%endfor%}
                                            
    
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                    
                                    
    
                                </div>
                            </div>
                         
                        </div> <!-- end col -->
    
                       
                            
                            <!-- /.modal -->
                    </div>
                    <div class="row">
    
                        <div class="col-12">
                            <div class="card">
                               
                                <div class="card-body ">
                                    
                                    
                                   
                                    
                                    <div class="table-responsive "   data-simplebar="init">
                                        
                                        <table class="table dt-responsive  nowrap  w-100 change" id="datatable1" >
    
                                            <thead class="gilory-medium-type fs-16">
                                                <tr>
                                                    <td class=" ps-0"></td>
                                                    <td >RegDate</td>
                                                    <td >Approval Date</td>
                                                    <td >Login</td>
                                                    <td >Name</td>
                                                    <td >Email</td>
                                                    <td >Source</td>
                                                    <td >Ticket</td>
                                                    <td >Country</td>

                                                    <td  >IP</td>
                                                </tr>
                                            </thead>
                                           
                                            <tbody class="gilory-regular-type fs-15 text-white" id="report-body">
                                                {%for second in seconds%} 
                                                <tr>
                                                    <td class="ps-0" style="cursor: pointer;"> <span class="color-green text-decoration-underline" onclick="viewCllient({{second.2}})">View</span> </td>
                                                    <!-- data-bs-toggle="modal" data-bs-target=".bs-example-modal-show" -->
                                                    <td>{{second.0}}</td> 
                                                    <td>{{second.1}}</td>   
                                                    <td>{{second.2}}</td>
                                                    <td>{{second.3}}</td>
                                                    <td>{{second.4}}</td>
                                                    <td>{{second.5}}</td>
                                                    <td>{{second.6}}</td>
                                                    <td>{{second.7}}</td>
                                                    <td>{{second.8}}</td>
                                                    
                                                </tr>
                                              {%endfor%}
                                            
    
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                    
                                    
    
                                </div>
                            </div>
                         
                        </div> <!-- end col -->
    
                       
                            
                            <!-- /.modal -->
                    </div>
    
    
    
                    </div>
                    <!-- end row-->
                    </div>
                    
                </div>
     </div>
            <!-- END layout-wrapper -->
            
            <div class="modal fade" id="monthly-report" tabindex="-1" >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
            
                        <div class="modal-body ">
    
                            <div class="  px-3 border rounded-3 py-4">
                            
                                <div class="modal-header py-0 px-0 border-bottom-0">
                                    <h5 class="modal-title mb-3" id="modal-title">Monthly Report</h5>
    
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    
                                </div>
                           
                                
                                    
                                    <div class="row">
                                    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <!--<label class="form-label">Event Name</label>-->
                                                <form name="monthform" id="month-form">
                                                <input type="text"    class="form-control input" id="monthly" >
                                                </form>
                                                
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <button type="button"  class="btn btn-success" id="btn-save-event" onclick="monthlyreportLoad()">Load</button>
                                                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="btn-delete-event">Cancel</button>
                                                </div>
                                              
                                            </div>
                                        </div>
                                   
                                    </div>
                                    
                                
                            </div>
                        
                        </div>
                    </div> <!-- end modal-content-->
                </div> <!-- end modal dialog-->
            </div>  
            <div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="alertpopup">
                <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class=" fs-16" id="userMsg">
                                
                            </h5>
                            <a href="" data-bs-dismiss="modal" aria-label="Close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </a>
                            </div>
                                                
                                <!-- <div class="modal-body" >
                    
                    
                                        <div data-simplebar style="max-height: 230px;">
                        
                                          
                                            
                                        </div>
                                    </div> -->
                       
                    </div>
                 </div>
                </div>
                <div class="modal fade  bs-example-modal-seminars" tabindex="-1" role="dialog" aria-hidden="true" id="reportpopup">
                                          
                    <div class="modal-dialog modal-dialog-centered  modal-lg d-block">
                     

                 
                        <div class="modal-content mb-4">
                         
                            
                   
                            <div class="modal-body">

                            

                              
                             <div class="border-dashed rounded-3 px-3 py-3">
                                 <div class="modal-header border-0 px-0">
                                     <h5 class="modal-title fs-21 ">Monthly Sales Calls Report </h5>

                                     <a href="" data-bs-dismiss="modal" aria-label="Close">
                                         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M9.16992 14.83L14.8299 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                             <path d="M14.8299 14.83L9.16992 9.17" stroke="var(--white)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                             <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                             </svg>

                                         </a>
                                 </div>
                             

                                 <div class="table-responsive" data-simplebar style="max-height: 352px;">
                                     <table class="table mb-0 ">
                                        <thead>
                                        
                                            <tr class="almarenamonolight-type fs-14">
                                                <th>Date</th>
                                                <th>Day</th>
                                                <th>Ticket Count</th>
                                                <th>Trust Login</th>
                                                
                                            </tr>
                                        </thead>


                                         <tbody class="gilroyregular-type fs-15" id="reportbody">
                                        


                                         </tbody>
                                     </table>

                                     
                                 </div>


                             </div>
                             


                             
                            
                                
                            </div>

                            
                        </div><!-- /.modal-content -->

                      

                       

                    </div>
                    </div>
            
    {% include "common/right-sidebar.html" %}
        
            <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
<script>
    function viewCllient(login){
        var url="{% url 'Backoffice:Manage'%}"
        window.location.href=url+"?&login="+login

    }
    function loadgenerate(){
        var searchParams = new URLSearchParams(window.location.search)
        var login = searchParams.get('login')
        $("#monthly-report").modal('hide')
        var monthly=document.getElementById('monthly').value
        
        $.ajax({
                        
                        type : "GET", 
                        url: "{% url 'Backoffice:AgentIbReport' %}",
                        data:{
                            "month":monthly,
                            "login":login
                        },
                        
                        
                        success: function(data){
                        }
                    })

    }
</script>
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
   
<script src="{% static 'libs/flatpickr/plugins/monthSelect/index.js' %}"></script>
    
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %} "></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/botrans.init.js' %}"></script> 
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <!-- Datatable init js -->
    <script src="{% static 'js/pages/ibclients.init.js' %}"></script> 
    
    
    
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>