<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" lang="ar">
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
      
      <link href="{% static 'css/input-tel.min.css' %}" rel="stylesheet"   type="text/css" />
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}

   

 
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <div class="main-content">

            <div class="page-content" id="sales">
                <div class="container-fluid">
                            <div class="row ">
                                
                                <div class="col-md-6 col-xxl-5">
                                    
                                    <div class=" card   card-h-100" >
                                        <a class="btn bg-soft-secondarycolor btn-sm text-white me-2" style="cursor:pointer" onclick="history.back()"><i class="fa fa-chevron-left me-2"></i>Back</a>
                                        <div class="card-body ">
                                            
                                            <h4 class="card-title almarenamonolight-type mb-4 fs-23">View & Upload Documents
                                            </h4>
    
                                            <form id="doc-form" enctype="multipart/form-data">
                                                <div class="row  ">
                    
                                                
                                                    <div class="col-sm-6 col-xxl-6">
                                                        <div class="mb-3">
                                                            <label class="form-label " for="Accountno">Account no<span class="color-orange">*</span></label>
                                                            <input  type="text" class="form-control" id="Accountno" placeholder="" required name="accno" readonly>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xxl-6">
                                                        <div class="mb-3">
                                                            <label class="form-label " for="Documenttype">Documenttype<span class="color-orange">*</span></label>
                                                            <select  type="text" class="form-select" id="Documenttype" placeholder="" name="doctype" required >
                                                                <option value="0" data-id="0">Select</option>
                                                                <option value="25" data-id="Account Update Form">Account Update Form</option>
                                                                <option value="10" data-id="Articles of Association">Articles of Association</option>
                                                                <option value="11" data-id="Bank Statement">Bank Statement</option>
                                                                <option value="12" data-id="Business Plan">Business Plan</option>
                                                                <option value="15" data-id="Certificate Of Formation">Certificate Of Formation </option>
                                                                <option value="17" data-id="Closed Account">Closed Account</option>
                                                                <option value="20" data-id="CRS Report">CRS Report</option>
                                                                <option value="2" data-id="ID/Passport Copy">ID/Passport Copy</option>
                                                                <option value="5" data-id="Individual Account Opening">Individual Account Opening</option>
                                                                <option value="13" data-id="Login Confirmation">Login Confirmation</option>
                                                                <option value="14" data-id="Memorandum">Memorandum</option>
                                                                <option value="18" data-id="Miscellaneous">Miscellaneous</option>
                                                                <option value="21" data-id="Professional Client Form">Professional Client Form</option>
                                                                <option value="3" data-id="Proof of Address">Proof of Address</option>
                                                                <option value="23" data-id="Risk Assessment Form">Risk Assessment Form</option>
                                                                <option value="6" data-id="Signature">Signature</option>
                                                                <option value="16" data-id="Termination Letter">Termination Letter</option>
                                                                <option value="24" data-id="Trading Statements">Trading Statements</option>
                                                                <option value="19" data-id="World Compliance Check">World Compliance Check</option>
                                                                <option value="22" data-id="Other">Other</option>
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xxl-6">
                                                        <div class="mb-3">
                                                            <label class="form-label " for="Expirydate">Expiry date<span class="color-orange">*</span></label>
                                                            <input  type="text" class="form-control" id="expirydate" name="expdate" required />
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xxl-6">
                                                        <div class="mb-3">
                                                            <label class="form-label " for="Choosefile">Choosefile<span class="color-orange">*</span></label>
                                                            
                                                            <div class="form-control  d-flex justify-content-between position-relative align-items-center"  id="choosefilefield"  style="height: 41px;">
                                                                <input  type="file" class="form-control position-absolute" id="choosefile" placeholder="" required  style="top:0;left:0; right:0; opacity: 0; z-index: 1258;" name="docfile">
                                                                <span id="choosetext" class="fs-10"></span>
                                                                <svg  width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M6.97494 9V11.9167C6.97494 13.525 8.28327 14.8333 9.8916 14.8333C11.4999 14.8333 12.8083 13.525 12.8083 11.9167V7.33333C12.8083 4.10833 10.1999 1.5 6.97494 1.5C3.74994 1.5 1.1416 4.10833 1.1416 7.33333V12.3333C1.1416 15.0917 3.38327 17.3333 6.1416 17.3333" stroke="#73759D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="mb-3">
                                                            <button class="btn  btn-info  btn-lg   me-2   mb-2 
                                                            " type="button" onclick="uploadDoc()">Upload</button>
                                                            <button class="btn btn-primary  btn-lg   me-2   mb-2 
                                                            " type="button" id="" onclick="approveDoc()">Approve</button>
                                                            <button class="btn  btn-outline-light  btn-lg   me-2   mb-2 
                                                            " type="button" id="" onclick="rejectDoc()">Reject</button>
                                                            <div class="position-relative d-inline-block    ">
    
                                                                <button class="btn  dropdown-toggle btn-outline-light  btn-lg   me-2 mb-2
                                                                "  id=""  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send Doc Expiry Alert</button>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" onclick="alertMsg('15 Days Before POR Expiry Alert')">15 Days Before POR Expiry Alert</a>
                                                                    <a class="dropdown-item" onclick="alertMsg('15 Days Before POI Expiry Alert')">15 Days Before POI Expiry Alert</a>
                                                                    <a class="dropdown-item" onclick="alertMsg('After POR Expiry Alert')">After POR Expiry Alert</a>
                                                                    <a class="dropdown-item" onclick="alertMsg('After POI Expiry Alert')">After POI Expiry Alert</a>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
    
                                                    <!--<div class="col-sm-6 col-xxl-6">
                                                        <div class="mb-3 d-flex">
                                                            <button class="btn btn-primary  btn-lg   me-2
                                                            " type="submit" id="">Approve</button>
                                                          
                                                        </div>
                                                    </div>-->
                                                  
                                                
                                                
                                                    
                                                
                                                    
                                            </div> 
                                            </form>
                                        </div>
                                    </div>
    
                                      
    
                                      
    
                                </div>
                                <div class="col-md-6 col-xxl-7">
    
                                  
                                    <div class=" card   card-h-100" >
                                        <div class="card-body ">
                                            <h4 class="card-title almarenamonolight-type mb-4 fs-23">User Activity
                                                Details
                                            </h4>
                                          
                                            <div class="table-responsive "  id="useractivity" style="max-height: 218px ;">
                                                <table  class="table dt-responsive  nowrap  w-100 change">
                                                    <thead >
                                                        <tr  class=" gilory-medium-type fs-17">
                                                            <th  class="ps-0"> Log time</th>
                                                            <th >User name</th>
                                                    
                                                            <th class="text-start ">Activity
                                                            </th>
                                                            
                                                        </tr>
                                                    </thead>
    
    
                                                    <tbody class="text-white gilory-regular-type fs-16">
                                                        {%for log in logs%}
                                                        <tr>
                                                            <td class="ps-0">{{log.0}}</td>
                                                            <td><div class="activity-icon avatar-sm me-3">
                                                                <div class="d-flex align-items-center  ">
    
                                                                    <img class="rounded-circle avatar-sm me-2 " src="{%static 'images/users/'%}{{log.1}}.png" 
                                                                    onerror='this.src="{% static 'images/users/user.png' %}"'
                                                                    alt="">
                                                              
                                                                    <span >
                                                              
                                                                        {{log.1}}</span>
                                                                </div>
                                                                    <!--<i class="bx bx-bitcoin font-size-24"></i>-->
                                                                    </td>
                                                          
                                                            <td class="text-start ">{{log.2}}</td>
                                                        
                                                        </tr>
                                                        {%endfor%}
                                                    
                                                    </tbody>
                                                
                                                </table>
                                            </div>
    
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xxl-12">
    
                                      
                                    <div class=" card   card-h-100" >
                                        <div class="card-body" id="upload-docs-div">
                                            <h4 class="card-title almarenamonolight-type mb-4 fs-23">Upload Documents
                                                Details
                                            </h4>
                                          
                                            <div class="table-responsive " id="uploaddocumentsdetails" style="max-height:500px">
                                                <table  class="table dt-responsive  nowrap  w-100 change" id="doc-data-table">
                                                    <thead >
                                                        <tr  class=" gilory-medium-type fs-17">
                                                            <th  class="ps-0"> <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="1" required="">
                                                                <label class="form-check-label fs-12" for="1"></label>
                                                             
                                                            </div></th>
                                                            <th >Order No</th>
                                                            <th  >Image name</th>
                                                            <th  >Description</th>
                                                       
                                                            <th>Upload date</th>
                                                            <th>Expiry date</th>
                                                            <th>Status</th>
                                                        
                                                            <th class="text-end ">Action
                                                            </th>
                                                            
                                                        </tr>
                                                    </thead>
    
    
                                                    <tbody class="text-white gilory-regular-type fs-16">
                                                        {% for doc in docs%}
                                            
                                                        <tr>
                                                        <td class="ps-0"><div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="1" name="uploadcheck[]" value={{doc.6}} required="">
                                                            <label class="form-check-label fs-12" for="1"></label>
                                                         
                                                        </div></td>
                                                        <td>{{doc.0}}</td>
                                                        <td>{{doc.1}}</td>
                              
                                                       
                                                        <td>{{doc.2}}</td>
                                                        <td>{{doc.3}}</td>
                                                        <td>{{doc.4}}</td>
                                                        
                                                        <td>
                                                            {%if doc.5 == 'Approved' %}
                                                            <button class="btn  btn-sm  color-green fs-15" style="background-color:
                                                            rgba(0, 165, 79, 0.15) ;">{{doc.5}}</button></td>
                                                            {%elif doc.5 == 'Pending' %}
                                                            <button class="btn  btn-sm  text-warning fs-15" style="background-color:
                                                                rgba(221, 174, 6, 0.15) ;">{{doc.5}}</button>
                                                            {%elif doc.5 == 'Not Verified' %}
                                                            <button class="btn  btn-sm  text-danger fs-15" style="background-color:
                                                                rgba(255, 3, 3, 0.15) ;">{{doc.5}}</button>
                                                            {%else %}
                                                            <button class="btn  btn-sm  color-green fs-15" style="background-color:
                                                                rgba(255, 3, 3, 0.15) ;">{{doc.5}}</button>
                                                            {% endif %}
                                                        <td class="text-end"><div class="dropdown align-self-start">
                                                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="bx bx-dots-vertical-rounded"></i>
                                                            </a>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" onclick="viewDocs({{doc.6}})">View</a>
                                                                <a class="dropdown-item" onclick="editDocs({{doc.7}})">Edit</a>
                                                                
                                                            </div>
                                                        </div></td>
                                                        
                                                        </tr>
                                                        {%endfor%}
                                                      
                                                    
                                                    
                                                
                                                    
                                                    </tbody>
                                                
                                                </table>
                                            </div>
    
                                            </div>
                                    </div>
                                </div>
    
                            
                            </div>  
                </div>
                <!-- End Page-content -->
    
                
            </div>
            <!-- end main content-->
    
        </div>
    </div>
    <!-- END layout-wrapper -->
{% include "common/right-sidebar.html" %}
    
    <!-- Right bar overlay-->
<div class="rightbar-overlay"></div> 
<div class="modal fade" id="reject-doc" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body ">

                <div class="  px-3 border rounded-3 py-4">
                
                    <div class="modal-header py-0 px-0 border-bottom-0">
                        <h5 class="modal-title mb-3" id="modal-title">Reject Documents</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>

                    </div>
               
                    
                        
                        <div class="row">
                        
                            <div class="col-12">
                                <div class="mb-3">
                              
                                        
                                        <label class="form-label w-100 " for="email1">Please select the reasons for document rejection. </label><br>
                                        
                                        <input type="checkbox" class="form-check-input" id="generic" required="" name="reasons[]" value="23">Generic<br>
                                        <input type="checkbox" class="form-check-input" id="belgium" required="" name="reasons[]" value="24">Belgium<br>
                                        <input type="checkbox" class="form-check-input" id="thirdcountry" required=""name="reasons[]" value="25">Third Country (we don't offer services to)<br>
                                        <input type="checkbox" class="form-check-input" id="vulnerable" required="" name="reasons[]" value="26">Vulnerable<br>
                                        <input type="checkbox" class="form-check-input" id="generic" required="" name="reasons[]" value="27">Appropriateness Test<br>
                                        
                                    
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <button type="button"  class="btn btn-success" id="btn-save-event" onclick="rejectProceed()">Proceed</button>
                                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="btn-delete-event">Close</button>
                                    </div>
                                  
                                </div>
                            </div>
                       
                        </div>
                        
                    
                </div>
            
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
<div class="modal fade bs-example-modal-insta" tabindex="-1" role="dialog" aria-hidden="true" id="alertpopup">
    <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class=" fs-16" id="userMsg">
                    
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                                    
                    <!-- <div class="modal-body" >
        
        
                            <div data-simplebar style="max-height: 230px;">
            
                              
                                
                            </div>
                        </div> -->
           
        </div>
     </div>
    </div>
<div class="modal fade" id="image-modal" tabindex="-1" >
        <div class="modal-dialog modal-dialog-centered modal-xl" >
            <div class="modal-content">
    
                <div class="modal-body ">

                    <div class="  px-3 border rounded-3 py-4">
                    
                        <div class="modal-header py-0 px-0 border-bottom-0">
                            <!-- <h5 class="modal-title mb-3" id="modal-title">Add New Card</h5> -->

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>

                        </div>
                        <iframe id="image" style="width: 100%;height: 50vh; "></iframe>
                        
                            
                            
                            
                        
                    </div>
                
                </div>
            </div> <!-- end modal-content-->
        </div> <!-- end modal dialog-->
    </div>
<div class="modal fade" id="edit-document" tabindex="-1" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
    
                <div class="modal-body ">

                    <div class="  px-3 border rounded-3 py-4">
                    
                        <div class="modal-header py-0 px-0 border-bottom-0">
                            <h5 class="modal-title mb-3" id="modal-title">Edit Document</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>

                        </div>
                   
                        
                            
                            <div class="row">
                            
                                <div class="col-12">
                                    <div class="mb-3">
                                        
                                        <form id="add-doc-form" enctype="multipart/form-data">  
                                            {% csrf_token %}  
                                          
                                     
                                        <div>
                                            <label class="form-label w-100 " for="email1">Documnet Type </label>
                                            <select  type="text" class="form-select" id="docID" placeholder="" name="doctype" required >
                                                <option value="0" data-id="0">Select</option>
                                                <option value="25" data-id="Account Update Form">Account Update Form</option>
                                                <option value="10" data-id="Articles of Association">Articles of Association</option>
                                                <option value="11" data-id="Bank Statement">Bank Statement</option>
                                                <option value="12" data-id="Business Plan">Business Plan</option>
                                                <option value="15" data-id="Certificate Of Formation">Certificate Of Formation </option>
                                                <option value="17" data-id="Closed Account">Closed Account</option>
                                                <option value="20" data-id="CRS Report">CRS Report</option>
                                                <option value="2" data-id="ID/Passport Copy">ID/Passport Copy</option>
                                                <option value="5" data-id="Individual Account Opening">Individual Account Opening</option>
                                                <option value="13" data-id="Login Confirmation">Login Confirmation</option>
                                                <option value="14" data-id="Memorandum">Memorandum</option>
                                                <option value="18" data-id="Miscellaneous">Miscellaneous</option>
                                                <option value="21" data-id="Professional Client Form">Professional Client Form</option>
                                                <option value="3" data-id="Proof of Address">Proof of Address</option>
                                                <option value="23" data-id="Risk Assessment Form">Risk Assessment Form</option>
                                                <option value="6" data-id="Signature">Signature</option>
                                                <option value="16" data-id="Termination Letter">Termination Letter</option>
                                                <option value="24" data-id="Trading Statements">Trading Statements</option>
                                                <option value="19" data-id="World Compliance Check">World Compliance Check</option>
                                                <option value="22" data-id="Other">Other</option>
                                            </select>
                                         </div>
                                        <br>
                                        <div>
                                            <label class="form-label w-100 " for="email1">Expiry Date</label>
                                            <input  type="text" class="form-control" id="expirydate" name="expdate" required />
                                            
                                        </div>
                                        <br>
                                        <br>
                                            <input type="file" id="document-img" name="docfile">
                                            
                                            <input type="hidden" name="accno" id="documentAcno">
                                         </form>   
                                        
                                        
                                        
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <button type="button"  class="btn btn-success" id="btn-save-event" onclick="updateDocs()">Save</button>
                                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="btn-delete-event">Close</button>
                                        </div>
                                      
                                    </div>
                                </div>
                           
                            </div>
                            
                        
                    </div>
                
                </div>
            </div> <!-- end modal-content-->
        </div> <!-- end modal dialog-->
    </div>

<script>
     $(document).ready(function () {
        var searchParams = new URLSearchParams(window.location.search)
        var accountno = searchParams.get('accno')
        $("#Accountno").val(accountno)


     });
     $(function() {
        $('#Documenttype').on('change', function (e) {

        console.log("server changed")    
        var doctype = $(this).attr('data-id')
        console.log("documentdescription val===="+doctype)
       

        });


       
         
   

    })
   

     function loadDocuments(){
        var accno=$("#Accountno").val()

        accno=301684
        var row=""
        // row+="<tr><td class='ps-0'><div class='form-check'><input type='checkbox' class='form-check-input' name='uploadcheck[]' value={{doc.6}}>"+
        //     "<label class='form-check-label fs-12' for='1'></label></div></td><td>{{doc.0}}</td><td>{{doc.1}}</td><td>{{doc.2}}</td><td>{{doc.3}}</td>"+
        //     "<td>{{doc.4}}</td><td><button class='btn  btn-sm  color-green fs-15' style='background-color:rgba(0, 165, 79, 0.15) ;''>{{doc.5}}</button></td>"+
        //     "<td class='text-end'><div class='dropdown align-self-start'><a class='dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>"+
        //     "<i class='bx bx-dots-vertical-rounded'></i></a><div class='dropdown-menu'><a class='dropdown-item' onclick='viewDocs()'>View</a>"+
        //     "<a class='dropdown-item' onclick='editDocs()'>Edit</a></div></div></td></tr>"

     }
     function viewDocs(orderno)
    {
        var accno=$("#Accountno").val()
        
        $.ajax({
                        
                        type : "GET", 
                        
                        url: "{% url 'Backoffice:ViewDocumentImage' %}",
                       
                        data:{
                            "accno":accno,
                            "orderno":orderno,
                            
                        },
                        success: function(data){
                        imagepath=data.imagepath
                        console.log("Image path====="+imagepath)
                        let image = document.getElementById("image");
 
                         image.src =imagepath
                        $("#image-modal").modal('show')
                        // $("#userMsg").empty()
                        // $("#userMsg").append(data.message)
                        // $("#alertpopup").modal('show')
                        }
                    })
    }
     function editDocs(docID){
        $("#docID").val(docID)
        $("#edit-document").modal('show')
        
     }
     function updateDocs(){
        $("#edit-document").modal('hide')
        var accno=$("#Accountno").val()
        $("#documentAcno").val(accno)
        var form = $('#add-doc-form')[0];
        var formData = new FormData(form);
        
        let csrftoken = '{{ csrf_token }}'
            $.ajax({
                        
                        type : "POST", 
                        headers:{'X-CSRFToken':csrftoken},
                        url: "{% url 'Backoffice:UploadDocuments' %}",
                        async: false,
                        cache: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        processData: false,
                        data:formData,
                        success: function(data){
                            var message=data.message
                            $('#upload-docs-div').load(document.URL +  ' #upload-docs-div')
                            $("#userMsg").empty()
                            $("#userMsg").append(message)
                            $("#alertpopup").modal('show')

                        }
            })
     }

    function rejectDoc(){
        $("#reject-doc").modal('show')
    }
    function approveDoc(){
        var accno=$("#Accountno").val()

        
        var selected = [];
        var status="A"
        var reasons=[]
        $('[name="uploadcheck[]"]:checked').each(function(checkbox) {
        
        selected.push(this.value);
        });
        console.log("Selected======="+selected)
        $.ajax({
                    type : "GET", 
                    url: "{% url 'Backoffice:ApproveDocument' %}",
                    data:{
                            
                            'accno':accno,
                            'docsId':selected,
                            'status':status,
                            'reasons':reasons
                            
                    },
                    success: function(data){
                            console.log("message"+data.message)
                            $('#upload-docs-div').load(document.URL +  ' #upload-docs-div')
                            
                            $("#userMsg").empty()
                            $("#userMsg").append(data.message)
                            $("#alertpopup").modal('show')
                    }
                })


    }
    function alertMsg(alert){
        console.log("Alert message===="+alert)
        var accno=$("#Accountno").val()
        
        var messge=""
        if(accno==""){
            $("#userMsg").empty()
            $("#userMsg").append("Please enter account number")
            $("#alertpopup").modal('show')

        }
        else{
            
            $.ajax({
                        
                        type : "GET", 
                        
                        url: "{% url 'Backoffice:ExpiryAlert' %}",
                       
                        data:{
                            
                            'accountno':accno,
                            'alert':alert,
                        },
                        success: function(data){
                            $("#userMsg").empty()
                            $("#userMsg").append("Email send successfully")
                            $("#alertpopup").modal('show')
                        }
                    })
           
        }

    }
    function uploadDoc(){
        var validFlag=0
        var accountno=$("#Accountno").val()
        var doctype=$("#Documenttype").val()
        var expdate=$("#expirydate").val()
        var selFile=$("#choosefile").val()
        if(accountno==""){
            $("#userMsg").empty()
            $("#userMsg").append("Please enter account number")
            $("#alertpopup").modal('show')
            validFlag=1
        }
        if(doctype=="0"){
            $("#userMsg").empty()
            $("#userMsg").append("Please select document type")
            $("#alertpopup").modal('show')
            validFlag=1
        }
        if(expdate==""){
            $("#userMsg").empty()
            $("#userMsg").append("Please select expiry date")
            $("#alertpopup").modal('show')
            validFlag=1
        }
        if(selFile==""){
            $("#userMsg").empty()
            $("#userMsg").append("Please select a file")
            $("#alertpopup").modal('show')
            validFlag=1
        }
        if(validFlag==0){
            console.log("Upload document for account type")
            var form = $('#doc-form')[0];
            console.log("Form======",form)
            var formData = new FormData(form);
        
            console.log("Form data======"+formData)
            let csrftoken = '{{ csrf_token }}'
            $.ajax({
                        
                        type : "POST", 
                        headers:{'X-CSRFToken':csrftoken},
                        url: "{% url 'Backoffice:UploadDocuments' %}",
                        async: false,
                        cache: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        processData: false,
                        data:formData,
                        success: function(data){
                            $('#upload-docs-div').load(document.URL +  ' #upload-docs-div')
                            var message=data.message
                            $("#userMsg").empty()
                            $("#userMsg").append(message)
                            $("#alertpopup").modal('show')

                        }
            })
        }


    }
    function rejectProceed(){
        $("#reject-doc").modal('hide')
        var accno=$("#Accountno").val()
        accno=301684
        var reasons= [];
        var selected= [];
        $('[name="reasons[]"]:checked').each(function(checkbox) {
        
        reasons.push(this.value);
        });
        $('[name="uploadcheck[]"]:checked').each(function(checkbox) {
        
        selected.push(this.value);
        });
        console.log("Selected====="+selected)
        console.log("Reasons====="+reasons)
        if(reasons==[]){
            $("#userMsg").empty()
            $("#userMsg").append("Please select the reason to reject")
            $("#alertpopup").modal('show')

        }else{
            $.ajax({
                    type : "GET", 
                    url: "{% url 'Backoffice:ApproveDocument' %}",
                    data:{
                            
                            'accno':accno,
                            'docsId':selected,
                            'status':"R",
                            'reasons':reasons
                            
                    },
                    success: function(data){
                            console.log("message"+data.message)
                            $('#upload-docs-div').load(document.URL +  ' #upload-docs-div')
                            $("#userMsg").empty()
                            $("#userMsg").append(data.message)
                            $("#alertpopup").modal('show')
                    }
                })


        }

    }
</script>    
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/boviewnupload.init.js' %}"></script> 

<script src="{% static 'js/app.js' %}"></script>

</body>

</html>