<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Trust Capital CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" lang="ar">
    <!-- App favicon -->
    {% load  static %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
     <!-- plugin css -->
     <!--<link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
         type="text/css" />-->
      <!-- datepicker css -->
      <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
      
      <link href="{% static 'css/input-tel.min.css' %}" rel="stylesheet"   type="text/css" />
    {% include "common/link.html" %}

    {% include "common/scripts.html" %}
</head>
<body data-layout-mode="dark">

    <!-- <body data-layout="horizontal"> -->
    
    <!-- Begin page -->
    <div id="layout-wrapper">
    
        {% include "common/header.html" %}
    

        <!-- ========== Left Sidebar Start ========== -->
        {% include "common/sidebar.html" %}
        <div class="main-content">
            <div class="page-content" id="sales">
                <div class="container-fluid">
                    <!--container-fluid px-md-5 me-md5-->

                    
                
            

                    <!--row0-->
                    <div class="row">
                        
            <iframe src="http://members.worldcompliance.com/signing.aspx" class="center"  width="100%" height="300%" frameborder="0"></iframe>
            </div>
            </div>
            </div>

        </div>
    </div>
    {% include "common/right-sidebar.html" %}
    
    <!-- Right bar overlay-->
<div class="rightbar-overlay"></div> 
<script src="{% static 'js/app.js' %}"></script>